{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load cart_tag %}

{% block title %}
    {% trans 'Grozs' %}
{% endblock %}

{% block body %}
<div class="container mx-auto mt-32">
    <div class="bg-second-color rounded-lg p-8">
        <h1 class="text-3xl font-bold text-main-color mb-8 text-center">{% trans 'Grozs' %}</h1>

        {% if request.session.cart.items %}
            <div class="sm:block">
                <table class="w-full table-auto text-left">
                    <thead class="bg-main-color text-white">
                        <tr>
                            <th class="p-4">{% trans 'Attēli' %}</th>
                            <th class="p-4">{% trans 'Cena' %}</th>
                            <th class="p-4">{% trans 'Izmēri' %}</th>
                            <th class="p-4">{% trans 'Daudzums' %}</th>
                            <th class="p-4">{% trans 'Kopējā cena' %}</th>
                            <th class="p-4">{% trans 'Darbības' %}</th>
                        </tr>
                    </thead>
                    <tbody class="bg-second-color">
                        {% for key, value in request.session.cart.items %}
                        <tr class="border-b border-gray-300 hover:bg-hover-color transition">
                            <td class="p-4 flex items-center space-x-4">
                                <img class="lazyload w-16 h-auto rounded-lg no-search" data-src="{{ value.image }}" alt="{% trans 'Product Image' %}">
                                <img class="lazyload w-16 h-auto rounded-lg no-search" data-src="{{ value.back_image }}" alt="{% trans 'Product Image' %}">
                            </td>
                            <td class="p-4 text-lg text-text-color">{{ value.price }}€</td>
                            <td class="p-4">
                                <ul class="text-text-color">
                                    {% for size in value.sizes %}
                                        <li class="text-sm">{{ size.size }}: <strong>{{ size.count }}</strong></li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="p-4 text-lg text-text-color font-bold">{{ value.quantity }}</td>
                            <td class="p-4 text-lg text-text-color font-bold">{{ value.total_price }}€</td>
                            <td class="p-4">
                                <a href='{% url "shopping_cart:item_clear" value.product_id %}' class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition-all">
                                    {% trans 'Noņemt' %}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="flex items-center justify-between p-6 flex-col sm:flex-row space-y-4 sm:space-y-0">
                <p class="text-2xl font-bold text-main-color">{% trans 'Kopā' %}: {{ cart_total_amount|floatformat:2 }}€</p>
                <a href="{% url 'payments:payment' %}" class="bg-main-color text-white px-8 py-4 rounded-lg text-lg hover:bg-main-color-dark transition-all">
                    {% trans 'Noformēt pasūtījumu' %}
                </a>
            </div>
        {% else %}
            <p class="text-center text-text-color">{% trans 'Jūsu grozs ir tukšs.' %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
