{% load static %}
{% load i18n %}
{% load cart_tag %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <link href="{% static 'src/output.css' %}" rel="stylesheet">
    <link href="{% static 'src/input.css' %}" rel="stylesheet">
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="dd464516-7e9e-4977-a678-2eee349bb2b8" data-blockingmode="auto" type="text/javascript"></script>
    <link rel="icon" href="{% display_icon %}" type="image/png">
    {% block css %}
    {% endblock %}
</head>

<body class='text-text-color bg-bg-color'>
    <header class='fixed w-full top-0 right-0 z-[100000] flex p-7 items-center justify-between transform max-2xl:px-4 max-2xl:py-3.5 max-lg:px-2 max-xl:bg-second-color bg-bg-color'>
        <a href='{% url "homepage" %}' class="flex items-center color-text-color text-3xl font-bold">
            <img class='align-middle text-main-color h-14 w-14 mr-1' src='{% display_icon %}' alt="EricPrint Logo">
            <span>EricPrint</span>
        </a>
        <ul class="navlist">
            <li><a href='{% url "homepage" %}' class="Home">{% trans 'Sākumlapa' %}</a></li>
            <li><a href='{% url "product:creativecorner" %}' class="creative_corner">{% trans 'Radošais stūrītis' %}</a></li>
            <li><a href='{% url "contact_us" %}'>{% trans 'Sazinies ar mums' %}</a></li>
            <li class='hidden max-md:block'><a href='{% url "shopping_cart:cart" %}'>{% trans 'Grozs' %}</a></li>
            {% if user.is_authenticated %}
                <li class='nav-content-second'>
                    <a href="{% url 'profile:personal_info' %}">{% trans 'Profils' %}</a></li>
                <li class='nav-content-second'><a href="{% url 'profile:logout' %}">{% trans 'Izrakstīties' %}</a></li>
            {% else %}
                <li class='nav-content-second'><a href='{% url 'login' %}'>{% trans 'Pierakstīties' %}</a></li>
            {% endif %}
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}" class="Admin">{% trans 'Admin' %}</a></li>
            {% endif %}
        </ul>
        <div class="flex items-center">
            {% if user.is_authenticated %}
            <div class="relative dropdown nav-content">
                <a href="javascript:void(0)" class="base-page-btn" id="dropdownButton">
                    <svg width="20" height="20" style="color: white;">
                        <use xlink:href="/static/svg/sprite.svg#user"></use>
                    </svg>
                    {% trans 'Profils' %}
                </a>
                <div id="dropdownMenu" class="dropdown-content absolute bg-white border border-gray-300 rounded-lg shadow-lg w-48 z-10 hidden group">
                    <a href="{% url 'profile:personal_info' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-lg">{% trans 'Profils' %}</a>
                    <a href="{% url 'profile:logout' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-lg">{% trans 'Izrakstīties' %}</a>
                </div>
            </div>
            {% else %}
                <a href='{% url 'login' %}' class='base-page-btn nav-content'>{% trans 'Pierakstīties' %}</a>
            {% endif %}
            <div id="menu-icon" class='text-4xl text-text-color z-[10001] cursor-pointer m-4 nav-content-second'>
                <svg id="menu-icon-svg" width="25" height="25" style="fill: var(--text-color);">
                    <use xlink:href="/static/svg/sprite.svg#menu"></use>
                </svg>
                <svg id="close-icon-svg" width="25" height="25" style="fill: var(--text-color); display: none;">
                    <use xlink:href="/static/svg/sprite.svg#close"></use>
                </svg>
            </div>
            <a href="{% url 'shopping_cart:cart' %}" class="text-4xl text-text-color z-[10001] cursor-pointer m-4 max-md:hidden">
                <svg width="25" height="25" style="fill: var(--text-color);">
                    <use xlink:href="/static/svg/sprite.svg#shopping_cart"></use>
                </svg>
                {% if request.session.cart|length >= 1 %}
                    <span id="cart-count">{{ request.session.cart|length }}</span>
                {% endif %}
            </a>
            <div id="darkmode" class='text-4xl text-text-color z-[10001] cursor-pointer m-4 '>
                <svg width="25" height="25" style="fill: var(--text-color);">
                    <use xlink:href="/static/svg/sprite.svg#moon-ico"></use>
                </svg>
            </div>
            <div class="relative inline-block">
                <div class="dropdown">
                    <button class="bg-transparent text-text-color p-3 text-base cursor-pointer flex items-center space-x-2 transition-all duration-200">
                        <img class='h-5' src="{% if LANGUAGE_CODE == 'lv' %}{% static 'img/lv-flag.png' %}{% else %}{% static 'img/en-flag.png' %}{% endif %}" alt="{% if LANGUAGE_CODE == 'lv' %}Latvian{% else %}English{% endif %}">
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <div class="dropdown-content absolute bg-second-color rounded-lg shadow-lg w-48 z-10 hidden group origin-top-right right-0">
                        <form id="language-form" class="flex flex-col bg-second-color rounded-lg shadow-lg" action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <button class="flex items-center space-x-2 px-4 py-2 text-left w-full rounded-lg border-none cursor-pointer hover:bg-hover-color transition-colors duration-200" type="submit" name="language" value="lv">
                                <img class="h-5 mr-3" src="{% static 'img/lv-flag.png' %}" alt="Latvian">
                                <span>Latviešu</span>
                            </button>
                            <button class="flex items-center space-x-2 px-4 py-2 text-left rounded-lg w-full border-none cursor-pointer hover:bg-hover-color transition-colors duration-200" type="submit" name="language" value="en">
                                <img class="h-5 mr-3" src="{% static 'img/en-flag.png' %}" alt="English">
                                <span>English</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </header>

    <div class="mt-32">
        {% block body %}{% endblock %}
    </div>

    {% block body_design %}{% endblock %}
</body>
<script src="{% static 'js/darkmode.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% block js %}{% endblock %}
</html>
