{% load static %}
{% load i18n %}
{% load cart_tag %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="dd464516-7e9e-4977-a678-2eee349bb2b8" data-blockingmode="auto" type="text/javascript"></script>
    <link rel="icon" href="{% display_icon %}" type="image/png">
    {% block css %}
    {% endblock %}
</head>

<body>
    <header>
        <a href='{% url 'homepage' %}' class="logo">
            <img src='{% display_icon %}' alt="EricPrint Logo">
            <span>EricPrint</span>
        </a>
        <ul class="navlist">
            <li><a href='{% url 'homepage' %}' class="Home">{% trans 'Sākumlapa' %}</a></li>
            <li><a href='{% url 'product:creativecorner' %}' class="creative_corner">{% trans 'Radošais stūrītis' %}</a></li>
            <li><a href="{% url 'contact_us' %}" class="contact_us">{% trans 'Sazinies ar mums' %}</a></li>
            {% if user.is_authenticated %}
                <li class='acc-nav'>
                    <a href="{% url 'profile:personal_info' %}" class="contact_us">{% trans 'Profils' %}</a></li>
                <li class='acc-nav'><a href="{% url 'profile:logout' %}">{% trans 'Izrakstīties' %}</a></li>
            {% else %}
                <li class='acc-nav'><a href='{% url 'login' %}' class="contact_us">{% trans 'Pierakstīties' %}</a></li>
            {% endif %}
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}" class="Admin">{% trans 'Admin' %}</a></li>
            {% endif %}
        </ul>
        <div class="h-main">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <a href="javascript:void(0)" class="h-btn acc">
                    <svg width="20" height="20" style="color: white;">
                        <use xlink:href="/static/svg/sprite.svg#user"></use>
                    </svg>
                    {% trans 'Profils' %}
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'profile:personal_info' %}">{% trans 'Profils' %}</a>
                    <a href="{% url 'profile:logout' %}">{% trans 'Izrakstīties' %}</a>
                </div>
            </div>
            {% else %}
                <a href='{% url 'login' %}' class='h-btn acc'>{% trans 'Pierakstīties' %}</a>
            {% endif %}
            <div id="menu-icon">
                <svg id="menu-icon-svg" width="25" height="25" style="fill: var(--text-color);">
                    <use xlink:href="/static/svg/sprite.svg#menu"></use>
                </svg>
                <svg id="close-icon-svg" width="25" height="25" style="fill: var(--text-color); display: none;">
                    <use xlink:href="/static/svg/sprite.svg#close"></use>
                </svg>
            </div>
            <a href="{% url 'shopping_cart:cart' %}" id="cart">
                <svg width="25" height="25" style="fill: var(--text-color);">
                    <use xlink:href="/static/svg/sprite.svg#shopping_cart"></use>
                </svg>
                {% if request.session.cart|length >= 1 %}
                    <span id="cart-count">{{ request.session.cart|length }}</span>
                {% endif %}
            </a>
            <div id="darkmode">
                <svg width="25" height="25" style="fill: var(--text-color);">
                    <use xlink:href="/static/svg/sprite.svg#moon-ico"></use>
                </svg>
            </div>
            <div class="language-switcher">
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="{% if LANGUAGE_CODE == 'lv' %}{% static 'img/lv-flag.png' %}{% else %}{% static 'img/en-flag.png' %}{% endif %}" alt="{% if LANGUAGE_CODE == 'lv' %}Latvian{% else %}English{% endif %}">
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <form id="language-form" action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="language" value="lv">
                                <img src="{% static 'img/lv-flag.png' %}" alt="Latvian"> Latviešu
                            </button>
                            <button type="submit" name="language" value="en">
                                <img src="{% static 'img/en-flag.png' %}" alt="English"> English
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block body %}{% endblock %}
</body>
<script src="{% static 'js/darkmode.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>

<script>
    // Hide success message after 10 seconds
    setTimeout(function() {
        var messages = document.getElementsByClassName('messages');
        for (var i = 0; i < messages.length; i++) {
            (function(message) {
                message.style.opacity = '0';
                setTimeout(function() {
                    message.style.display = 'none';
                }, 1000); // 1 second after opacity change
            })(messages[i]);
        }
    }, 5000);
</script>
{% block js %}{% endblock %}
</html>
