{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/category_detail.css' %}" />
{% endblock %}

{% block title %}
{{ category.title }}
{% endblock %}

{% block body %}
<main class="category-detail-container">
    <h1 class="animated-title">{{ category.title }}</h1>
    <div class="products">
        {% if products %}
            {% for product in products %}
            <a class="box" href="{% url 'design_detail' slug=product.slug %}">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
                <h3>{{ product.title }}</h3>
                <h5>{{ product.description }}</h5>
                <p class="price">{{ product.price }}€</p>
            </a>
            {% endfor %}
        {% else %}
            <p>{% trans 'Šajā kategorijā nav produktu' %}</p>
        {% endif %}
    </div>
</main>
{% endblock %}

{% block js %}
<script src="{% static 'js/category_detail.js' %}"></script>
{% endblock %}
