
{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Sazinies ar mums' %}
{% endblock %}

{% block css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-GLhlTQ8i04FJz1MlD03rrnMaVndVMO6b8q5R8+5lZ5L5qFfZJLvea5N2jRR1bH40" crossorigin="anonymous">
{% endblock %}

{% block body %}
        <section>
            <div class="container">
                <div class="contactInfo"> 
                    <div>
                        <h2>{% trans 'Kontaktinformācija' %}</h2>
                        <ul class="info">
                            {% if Contact %}
                                <li>
                                    {% if Contact.address %}
                                        <span><i class="fas fa-map-marker-alt" style="color: #000000;"></i></span>
                                        <span>{{Contact.address}}<br>
                                    {% endif %}
                                    {% if Contact.postal_code %}
                                        {{Contact.postal_code}}<br></span>
                                    {% endif %}
                                </span>
                                </li>
                                {% if Contact.email %}
                                <li>
                                    <span><i class="far fa-envelope" style="color: #000000;"></i></span>
                                    <span><a href="mailto:{{Contact.email}}">{{Contact.email}}</a></span>
                                </li>
                                {% endif %}
                                {% if Contact.phone_number %}
                                <li>
                                    <span><i class="fas fa-phone-alt" style="color: #000000;"></i></span>
                                    <span>{{Contact.phone_number}}</span>
                                </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                    
                    <ul class="sci">
                        {% if Contact %}
                            {% if Contact.facebook_link %}
                                <li><a href="{{ Contact.facebook_link }}"><i class="fab fa-facebook"></i></a></li>
                            {% endif %}
                            
                            {% if Contact.instagram_link %}
                                <li><a href="{{ Contact.instagram_link }}"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                            
                            {% if Contact.twitter_link %}
                                <li><a href="{{ Contact.twitter_link }}"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div class="contactForm">
                    <h2>{% trans 'Nosūtīt ziņu' %}</h2>
                    <form method="post" action="{% url 'contact_us' %}">
                        {% csrf_token %}
                        <div class="formBox">
                            <div class="inputBox w50">
                                <input type="text" name="first_name" required>
                                <span>{% trans 'Vārds' %}</span>
                            </div>
                            <div class="inputBox w50">
                                <input type="text" name="last_name" required>
                                <span>{% trans 'Uzvārds' %}</span>
                            </div>
                            <div class="inputBox w50">
                                <input type="email" name="email" required>
                                <span>{% trans 'E-pasts' %}</span>
                            </div>
                            <div class="inputBox w50">
                                <input type="text" name="phone_number" required>
                                <span>{% trans 'Telefona numurs' %}</span>
                            </div>
                            <div class="inputBox w100">
                                <textarea name="message" required></textarea>
                                <span>{% trans 'Raksti savu ziņu šeit...' %}</span>
                            </div>
                            <div class="inputBox w100 button">
                                {{ form.captcha }}
                                {% if form.captcha.errors %}
                                <div class="error-message">
                                    {% trans 'Lūdzu, aizpildiet CAPTCHA lauku, lai turpinātu.' %}
                                </div>
                            {% endif %}
                                <input type="submit" value="{% trans 'Sūtīt' %}">
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                
                {% if messages %}
                    {% for message in messages %}
                    <div class="toast active">
  
                        <div class="toast-content">
                          <i class="fas fa-solid fa-check check"></i>
                        <div class="message">
                            <span class="text text-1">{% trans 'Panākumi' %}</span>
                            <span class="text text-2">{{ message }}</span>
                          </div>
                        </div>
                      
                        <div class="progress active"></div>
                      </div>
                    {% endfor %}
                </ul>
            {% endif %}
                    
             
        </section>

    {% block js %}
        <script src="{% static 'js/contact.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('form');
    
            form.addEventListener('submit', function(event) {
                const recaptchaResponse = grecaptcha.getResponse();
                const errorElement = document.querySelector('.error-message .error');
    
                if (recaptchaResponse.length === 0) {
                    event.preventDefault();
                    errorElement.textContent = 'Lūdzu, aizpildiet reCAPTCHA pārbaudi!';
                    errorElement.parentElement.style.display = 'block';
                } else {
                    errorElement.textContent = '';
                    errorElement.parentElement.style.display = 'none';
                }
            });
        });
        </script>
    {% endblock %}
{% endblock %}