{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Radošais stūrītis' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/creativecorner.css' %}" />
{% endblock %}

{% block body %}
    <div id="error-messages" class="error-messages"></div>
    <div id="success-message" class="success-message"></div>
    <section class="shop t-short" id="shop">
        <div class="container" id="product-container">
            {% for product_list in page_obj %}
                <div class="box" data-order="{{ product_list.average_rating }}">
                    <a href="{% url 'detail' user=user product_title=product_list.product.title order_id=product_list.id %}">
                        <img src="{{ product_list.front_image }}" alt="" class='front-image'>
                        <img src="{{ product_list.back_image }}" alt="Back Image" class='back-image'>
                        <div class="star-wrapper" data-rating="{{ product_list.average_rating }}">
                            <a class="fas fa-star s1"></a>
                            <a class="fas fa-star s2"></a>
                            <a class="fas fa-star s3"></a>
                            <a class="fas fa-star s4"></a>
                            <a class="fas fa-star s5"></a>
                        </div>
                    </a>
                    <div class="cart">
                        <a href="#" onclick="AddToCart('{{ product_list.id }}')"><i class="bx bx-cart"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page=1">&laquo;&laquo;</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;&laquo;</span></li>
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <li class="active"><span>{{ num }}</span></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    <li class="disabled"><span>&raquo;&raquo;</span></li>
                {% endif %}
            </ul>
        </div>
        <aside class="filter-sidebar closed">
            <form id="filter-form">
                <div id="filter-toggle" class="filter-toggle">
                    <i class="fas fa-filter"></i>
                </div>
                <div class="form-group closed">
                    <div class="form-group">
                        <label for="search-input">{% trans 'Meklēt:' %}</label>
                        <input type="text" id="search-input" name="search" placeholder="{% trans 'Meklēt...' %}">
                    </div>
                    <label>{% trans 'Krāsas:' %}</label>
                    <div class="color-options">
                        <input type="hidden" name="color" id="selected-colors">
                        {% for color in all_colors %}
                            <div class="color-option" data-color-id="{{ color.id }}" style="background-color: {{ color.code }}"></div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="product-select">{% trans 'Produktu saraksts:' %}</label>
                        <select id="product-select" name="product_list">
                            <option value="">{% trans 'Visi' %}</option>
                            {% for product in all_products %}
                                <option value="{{ product.id }}">{{ product.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                </div>
            </form>
        </aside>
    </section>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/creativecorner.js' %}"></script>
    <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
{% endblock %}
