
{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Radošais stūrītis' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/creativecorner.css' %}" />
{% endblock %}

{% block body %}

    <section class="shop t-short" id="shop">
        <div class="container">
            {% for product_list in Product_list %}
                <div class="box">
                    <a href="{% url 'detail' user=user product_list_id=product_list.id %}">
                        <img src="{{ product_list.front_image.url }}" alt="">
                        <div class="star-wrapper" data-rating="{{ product_list.average_rating }}">
                            <a class="fas fa-star s1"></a>
                            <a class="fas fa-star s2"></a>
                            <a class="fas fa-star s3"></a>
                            <a class="fas fa-star s4"></a>
                            <a class="fas fa-star s5"></a>
                        </div>
                    </a>
                    <div class="cart">
                        <a href="{% url 'cart_add' product_list.id %}"><i class="bx bx-cart"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
<!-- 
    <section class="shop cup" id="shop">
        <div class="container">
            <div class="box">
                <img src="\static\img\cup.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="\static\img\cup.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="\static\img\cup.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="\static\img\cup.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="\static\img\cup.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
        </div>

    </section> -->
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/creativecorner.js' %}"></script>
    <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
{% endblock %}