
{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Radošais stūrītis' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/creativecorner.css' %}" />
{% endblock %}

{% block body %}
    <section class="shop" id="shop">
        <div class="container">
            <div class="box">
                <img src="\static\img\krekls.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="\static\img\krekls.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="\static\img\krekls.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="\static\img\krekls.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="\static\img\krekls.png" alt="">
                <h4>Krekls</h4>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1 active"></a>
                    <a href="#" class="fas fa-star s2 active"></a>
                    <a href="#" class="fas fa-star s3 active"></a>
                    <a href="#" class="fas fa-star s4 active"></a>
                    <a href="#" class="fas fa-star s5 active"></a>
                </div>
                <div class="cart">
                    <a href="#"><i class="bx bx-cart"></i></a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/creativecorner.js' %}"></script>
    <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
{% endblock %}