{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Dizaina rīks' %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/design.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
{% csrf_token %}
  <div id="error-messages" class="error-messages"></div>
  <div id="success-message" class="success-message"></div>
  <div class="product">
    <div class="image-container" id="front" style="display: block;">
        <input type="hidden" id="product-slug" name="product_slug" value="{{ product.slug }}">
        <img src="{{ product.front_image_not_background.url }}" class="img-1 front-image" id="img-1" />
        <img src="{{ product.front_image_with_background.url }}" class="img-2 front-image" />
        <div id="text-container" data-side="front" style="position: absolute; top: 100px; left: 100px; width: 100%; height: 100%; cursor: pointer;"></div>
    </div>
    <div class="image-container" id="back" style="display: none;">
        <img src="{{ product.back_image_not_background.url }}" class="img-1 front-image" id="img-1" />
        <img src="{{ product.back_image_with_background.url }}" class="img-2 front-image" />
        <div id="text-container" data-side="back" style="position: absolute; top: 100px; left: 100px; width: 100%; height: 100%; cursor: pointer;"></div>
    </div>
    <div class="color" style="background-color: {{product.available_colors.first.code}}"></div>
  </div>

  <div id="general" class="content">
    <h1>{% trans 'Izveido savu' %} {{ product.title }}</h1>
    <div class="color-content">
        <b>{% trans 'Pielāgot krāsu' %}</b>
        <div class="color-groups">
            {% for color in product.available_colors.all %}
            <div class="color-select {% if color == active_color %}active-color{% endif %}" data-color-name="{{ color.name }}" style="background-color: {{ color.code }};"></div>
            {% endfor %}
        </div>
    </div>

    <div class="quantity-content-text">
        <b>{% trans 'Ievadiet daudzumu' %}</b>
        <div class="quantity-content">
            <span class="minus">-</span>
            <span class="num">01</span>
            <span class="plus">+</span>
        </div>
    </div>

    <div class="size-content">
        {% if product.available_sizes.exists %}
            <b>{% trans 'Izvēlies izmēru' %}</b>
            <div class="size-select">
                {% for size in product.available_sizes.all %}
                    <div class="size-option" data-value="{{ size.size }}">
                        {{ size.size }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="publish-info">
        <input type="checkbox" id="publish-checkbox">
        <label for="publish-checkbox">{% trans 'Apstiprinu, ka vēlos publicēt savu darbu' %}</label>
        <span class="info-icon"><i class="fas fa-info-circle"></i></span>
    </div>

    <div id="additional-info" style="display: none;">
        <input type="text" id="title-input" placeholder="Title">
        <textarea id="description-input" placeholder="Description"></textarea>
    </div>

    <div class="buy-button">
        <button class="general-button" id="buy-button">{% trans 'Pirkt tagad' %}</button>
    </div>
</div>

<div id="info-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>{% trans 'Pirms publicēšanas jūsu darbu apskatīs administrators. Ja jūsu darbs tiks apstiprināts, mēs to publicēsim. Ja kāds iegādāsies jūsu darbu, jūs saņemsiet 1 eiro savā digitālajā makā.' %}</p>
        <hr>
        <h2>{% trans 'Noteikumi:' %}</h2>
        <ul>
            <li></li>
            <li>{% trans 'Necenzūrēts vai nepiedienīgs saturs nav atļauts.' %}</li>
            <li>{% trans 'Necenzēti vai nepiemēroti teksti nav atļauti virsrakstos un aprakstos.' %}</li>
            <li>{% trans 'Jūsu darbam jābūt oriģinālam un jāievēro intelektuālā īpašuma tiesības.' %}</li>
            <li>{% trans 'Publicējot darbu, jūs piekrītat tā izmantošanai mūsu platformā un tās reklamēšanai.' %}</li>
            <li>{% trans 'Jūs piekrītat, ka mēs varēsim izmantot jūsu lietotāja vārdu vai citu informāciju darbu reklamēšanai vai promocijai mūsu vietnē vai sociālajos tīklos.' %}</li>
            <li>{% trans 'Jūs esat atbildīgs par visu saturu, ko publicējat, un mēs paturam tiesības noņemt vai rediģēt saturu pēc saviem ieskatiem.' %}</li>
            <li>{% trans 'Jūs piekrītat ievērot visus vietnes lietošanas noteikumus un privātuma politiku.' %}</li>
            <li></li>
        </ul>
        <hr>
        <p>{% trans 'Šī ir tikai informatīva ziņa, nav obligāti jāatzīmē rūtiņa, lai publicētu.' %}</p>
    </div>
</div>

    <div id="upload" class="content" style="display: none;">
        <div class="upload-wrapper">
            <div class="upload-area">
                <div class="upload-area-img">
                    <img src="{% static '/img/upload.png' %}" alt="">
                </div>
                <p class="upload-area-text">{% trans 'Nometiet attēlus vai' %}<span> {% trans ' Pārlūkot' %}</span></p>
            </div>
            <input type="file" class="visually-hidden" name="" id="upload-input" accept="image/*" multiple>
            <div class="upload-img">
            </div>
        </div>
    </div>

    

    <div id="Text" class="content" style="display: none;">
        <h1>{% trans 'Pievienot tekstu' %}</h1>
        <div class="input-container">
            <label for="text-input">{% trans 'Ievadiet tekstu:' %}</label>
            <input type="text" id="text-input" placeholder="{% trans 'Lūdzu, ievadiet savu tekstu šeit.' %}">
        </div>
        <div class="input-container">
            <label for="font-select">{% trans 'Izvēlieties fontu:' %}</label>
            <select id="font-select">
                <option value="Arial" style="font-family: Arial;">Arial</option>
                <option value="Times New Roman" style="font-family: 'Times New Roman';">Times New Roman</option>
                <option value="Verdana" style="font-family: Verdana;">Verdana</option>
                <option value="Courier New" style="font-family: 'Courier New';">Courier New</option>
                <option value="Georgia" style="font-family: Georgia;">Georgia</option>
                <option value="Helvetica" style="font-family: Helvetica;">Helvetica</option>
                <option value="Tahoma" style="font-family: Tahoma;">Tahoma</option>
                <option value="Comic Sans MS" style="font-family: 'Comic Sans MS';">Comic Sans MS</option>
                <option value="Impact" style="font-family: Impact;">Impact</option>
                <option value="Palatino Linotype" style="font-family: 'Palatino Linotype';">Palatino Linotype</option>
            </select>
        </div>
        <div class="input-container">
            <div class="input-label">
                <label for="font-size">{% trans 'Fonta izmērs:' %}</label>
                <label for="font-color">{% trans 'Fonta krāsa:' %}</label>
            </div>
            <div class="input-field">
                <input type="number" id="font-size" value="16">
                <input type="color" id="font-color" value="#000000">
            </div>
            <button id="addTextButton" class="button"><i class="fas fa-plus"></i> {% trans 'Pievienot tekstu' %}</button>
        </div>
        <div id="output-text-container">
            <div id="output-text"></div>
            <button onclick="editText()" style="display: none;">{% trans 'Rediģēt tekstu' %}</button>
        </div>
        <ul id="text-list"></ul>
    </div>

    <div id="Ai-generator" class="content" style="display: none;">
        <h1>{% trans 'AI attēla ģenerators' %}</h1>
        <h2>{% trans 'Drīzumā pieejams' %}</h2>
    </div>
  </div>

  <div class="navbar-wrapper pc">
    <div class="nav-item" id="generalIcon">
        <i class="fas fa-cogs"></i>
        <div class="tooltip">General</div>
    </div>
    <div class="nav-item" id="imageIcon">
        <i class="fas fa-image"></i>
        <div class="tooltip">Image</div>
    </div>
    <div class="nav-item" id="textIcon">
        <i class="fas fa-font"></i>
        <div class="tooltip">Text</div>
    </div>
    <div class="nav-item" id="Ai-generatoricon">
        <i class="fas fa-robot"></i>
        <div class="tooltip">AI Generator</div>
    </div>
    <div class="nav-item" id="roatateicon">
        <i class="fa-solid fa-arrow-rotate-left"></i>
        <div class="tooltip">Rotate</div>
    </div>
</div>
  
{% endblock %}


{% block js %}
  <script src="{% static 'js/design.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
{% endblock %}