{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Detail' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/058862d461.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div id="error-messages" class="error-messages"></div>
    <div id="success-message" class="success-message"></div>
    <div class="home">
      <div class="sneaker">
          <div class="sneaker__figure">
          </div>

          <div>
              <img id="sneakerImg" src="{{ product.front_image }}" style="display: none;">
              <canvas id="outputCanvas" class="sneaker__img shows" color="#A29596"></canvas>
              <img id="sneakerImg2" src="{{ product.back_image }}" style="display: none;">
              <canvas id="outputCanvas2" class="sneaker__img" color="#111111"></canvas>
          </div>

          <div class="sneaker__colors">
            <span class="sneaker__color sneaker__colors-one active" primary="#A29596" color="#A29596"></span>
            <span class="sneaker__color sneaker__colors-two " primary="#111111" color="#111111"></span>
          </div>
      </div>

      <div class="info">
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_x"></a>
            <a class="a2a_button_email"></a>
            <a class="a2a_button_copy_link"></a>
        </div>
        <div class="star-wrapper" data-product-id="{{ product.id }}" data-rating="{{ product.average_rating }}">
            <a class="fas fa-star s1" data-rating-value="1"></a>
            <a class="fas fa-star s2" data-rating-value="2"></a>
            <a class="fas fa-star s3" data-rating-value="3"></a>
            <a class="fas fa-star s4" data-rating-value="4"></a>
            <a class="fas fa-star s5" data-rating-value="5"></a>
        </div>
          <div class="data">
              <span class="data__subtitle">{% trans 'Autors: ' %}  {{product.author.username}}</span>
              <h1 class="data__title">{{product.title}}</h1>
              <p class="data__description">{{product.description}}</p>
          </div>
          <div class="actions">
            {% if size.available_sizes.all %}
                <div class="size">
                    <h3 class="size__title">{% trans 'Izmērs' %}</h3>
                    <div class="size__content">
                        {% for size in size.available_sizes.all %}
                            <span class="size__tallas">{{ size.size }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
          </div>


          <div class="price">
            <span class="price__title">{{ product.product.price }} €</span>
            <a href="#" onclick="AddToCart('{{ product.id }}')" class="price__button">
                <i class="fa-solid fa-cart-shopping"></i>{% trans 'Pievienot grozā' %}
            </a>
        </div>

      </div>
  </div>
    <div id="success-alert" class="alert alert-success">
        <strong>Jūsu reitings ir saglabāts!</strong>
    </div>

{% endblock %}

{% block js %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/detail.js' %}"></script>
    <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const starWrapper = document.querySelector('.star-wrapper');
            const stars = starWrapper.querySelectorAll('.fas');
            const successAlert = document.getElementById('success-alert');

            stars.forEach(function (star) {
                star.addEventListener('click', function () {
                    const ratingValue = parseInt(star.getAttribute('data-rating-value'));
                    const productId = starWrapper.getAttribute('data-product-id');
                    saveRating(productId, ratingValue);
                });
            });

            function saveRating(productId, ratingValue) {
                $.ajax({
                    type: 'POST',
                    url: '/save-rating/',
                    data: {
                        'product_id': productId,
                        'rating': ratingValue,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function (response) {

                        successAlert.style.display = 'block';
                        successAlert.innerHTML = '<strong>Jūsu reitings ir saglabāts!</strong>';
                        successAlert.style.right = '30px';
                        setTimeout(function() {
                            successAlert.style.right = '-400px';
                        }, 5000);
                        updateStarRating(productId, ratingValue);
                    },
                    error: function (xhr, status, error) {
                        console.error('Kļūda saglabājot reitingu:', xhr.responseText);
                    },
                });
            }

            function updateStarRating(productId, ratingValue) {
            const starWrapper = document.querySelector('.star-wrapper[data-product-id="' + productId + '"]');
            const stars = starWrapper.querySelectorAll('.fas');

            stars.forEach(function (star, index) {
                if (index < ratingValue) {
                    star.classList.add('active');
                } else {
                    star.classList.remove('active');
                }
            });

            starWrapper.setAttribute('data-rating', ratingValue.toFixed(1));
        }
        });
    </script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
{% endblock %}