{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Pieslēgties' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block body %}

    <div class='login-form'>
        <div class='container'>
            <div class='main'>
                <div class='content'>
                    <h2>{% trans 'Pieslēgties' %}</h2>
                    <form action='' method='post'>
                        {% csrf_token %}
                        <div class="formBox">
                            <div class="inputBox w50">
                                <input type='email' name='email' required>
                                <span>{% trans 'e-pasts' %}</span>
                            </div>
                            <div class="inputBox w50">
                                <input type='password' name='password' required>
                                <span>{% trans 'Parole' %}</span>
                            </div>
                        </div>
                        <button class='btn' type='submit'>
                            {% trans 'Pieslēgties' %}
                        </button>
                    </form>
                    <p class='account'>{% trans 'Vai jums nav konta? ' %}<a href='{% url 'register' %}'>{% trans 'Reģistrēties' %}</a></p>
                    <p class='account'>{% trans 'Aizmirsāt paroli?' %} <a href='{% url "password_reset" %}'>{% trans 'Atjaunot to šeit' %}</a></p>
                </div>
                <div class='form-img'>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="error-message">
                                <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                    <img src="{% static '/img/login.png' %}" alt=''>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}