{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Reģistrēties' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/phone.css' %}" />
{% endblock %}

{% block body %}

    <div class='login-form register'>
        <div class='container'>
            <div class='main'>
                <div class='content'>
                    <h2>{% trans 'Reģistrēties' %}</h2>
                    <form action='' method='post'>
                        {% csrf_token %}
                        <div class="formBox">
                            <div class="inputBox w50">
                                <input type="text" name="first_name" required>
                                <span>{% trans 'Vārds' %}</span>
                            </div>
                            <div class="inputBox w50">
                                <input type='text' name='last_name' required>
                                <span>{% trans 'Uzvārds' %}</span>
                            </div>
                            <div class="inputBox w50">
                                <input type='email' name='email' required>
                                <span>{% trans 'e-pasts' %}</span>
                            </div>
                            <div class="inputBox w50">
                                <input type='text' name='username' required>
                                <span>{% trans 'Lietotājvārds' %}</span>
                            </div>
                            <div class="select-box">
                                <div class="selected-option">
                                    <div>
                                        <strong class="nr-code">+000</strong>
                                    </div>
                                    <div class="inputBox w50">
                                        <input type="tel" name="phone_number" required>
                                        <span>{% trans 'Telefona numurs' %}</span>
                                    </div>
                                </div>
                                <div class="options">
                                    <input type="text" class="search-box" placeholder="{% trans 'Meklēt pēc valsts nosaukuma' %}">
                                    <ol>
                                    </ol>
                                </div>
                            </div>
                            <div class="inputBox w50">
                                <input type='password' name='pass1' required>
                                <span>{% trans 'Parole' %}</span>
                            </div>
                            <div class="inputBox w50">
                                <input type='password' name='pass2' required>
                                <span>{% trans 'Apstipriniet paroli' %}</span>
                            </div>
                        </div>
                        <button class='btn' type='submit'>
                            {% trans 'Reģistrēties' %}
                        </button>
                    </form>
                    <p class='account'>{% trans 'Vai jums jau ir konts? ' %} <a href='{% url 'login' %}'>{% trans 'Pieslēgties' %}</a></p>
                </div>
                <div class='form-img'>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="error-message">
                                <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                    <img src="{% static '/img/register.png' %}" alt=''>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <script src="{% static 'js/phone.js' %}"></script>
{% endblock %}