env/
ecomerce/db.sqlite3
ecomerce/local_settings.py
ecomerce/media/
ecomerce/__pycache__/
home/__pycache__/
static/img/
ecomerce/static/
home/migrations/
ecomerce/staticfiles/
static/
db.sqlite3
shoping_cart/__pycache__/
shoping_cart/migrations/__pycache__/
shoping_cart/templatetags/__pycache__/
User_app/__pycache__/
User_app/migrations/__pycache__/
ecomerce/settings.py
