# Python virtuālās vides mapes
env/
venv/

# SQLite datubāzes faili
ecomerce/db.sqlite3
db.sqlite3

# Lokālie iestatījumi, kas satur sensitīvu informāciju
ecomerce/local_settings.py

# Media faili
ecomerce/media/

# Kompilētie Python faili
*/__pycache__/*

# Statiskie faili
# ecomerce/static/
ecomerce/staticfiles/


*.pyc

.env

ecomerce/static/src/output.css
