<div id="product-modal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50">
    <div class="bg-second-color p-6 rounded-lg max-w-3xl w-full relative opacity-0 transition-opacity duration-300 ease-in-out" id="modal-content">
        <button class="absolute top-2 right-2 text-gray-700" onclick="closeModal()">
            {% include "include/svg_icon.html" with name="close" size=24 classes='mx-auto mb-4 text-text-color' %}
        </button>
        <div id="product-modal-content"></div>
    </div>
</div>

<script>
   function closeModal() {
    const modal = document.getElementById("product-modal");
    const modalContent = modal.querySelector("#modal-content");
    modalContent.classList.add("opacity-0");
    setTimeout(() => {
        modal.classList.add("hidden");
    }, 300);
}

document.addEventListener("htmx:beforeRequest", function(evt) {
    const modal = document.getElementById("product-modal");
    modal.classList.add("hidden");
});

document.addEventListener("htmx:afterSwap", function(evt) {
    const modal = document.getElementById("product-modal");
    const modalContent = modal.querySelector("#modal-content");

    if (evt.target.id === "product-modal-content" && evt.detail.xhr.responseText) {
        modal.classList.remove("hidden");
        setTimeout(() => {
            modalContent.classList.remove("opacity-0");
        }, 10);
    }
});

</script>
