.login-form.verify {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.login-form.verify .container {
    max-width: 500px; /* Adjust the width to fit the verification form */
    width: 100%;
}

.login-form.verify .main {
    display: flex;
    flex-direction: column; /* Change to column to stack elements */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
}

.login-form.verify .content {
    flex: 1;
    padding: 2em;
    background-color: var(--second-color);
}

.login-form.verify .content h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}

.login-form.verify .content p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
}

.login-form.verify .formBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 22px;
}

.login-form.verify .inputBox {
    position: relative;
    width: 100%; /* Full width for single input field */
}

.login-form.verify .inputBox label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--text-color);
}

.login-form.verify .inputBox input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--input-color);
    color: var(--text-color);
}

.login-form.verify .inputBox input:focus {
    border-color: var(--main-color);
    outline: none;
}

.login-form.verify .btn {
    width: 100%;
    padding: 12px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover efekts */
.login-form.verify .btn:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Palielināts ēnas efekts */
}

/* Active efekts */
.login-form.verify .btn:active {
    background-color: darken(var(--main-color), 20%);
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Samazināts ēnas efekts */
}

.login-form.verify .error-message {
    color: #b71c1c;
    font-size: 0.875rem;
    margin-top: 5px;
}

.login-form.verify .errorlist li {
    color: #b71c1c;
    font-size: 0.875rem;
    margin-top: 5px;
}

.login-form.verify .error-input {
    border-color: #b71c1c;
}

/* Responsīvs dizains */
@media(max-width: 768px) {
    .login-form.verify .main {
        flex-direction: column;
    }

    .login-form.verify .inputBox {
        width: 100%;
    }
}

.login-form.verify .inputBox.error input {
    border-color: #b71c1c; /* Red border for errors */
}
