{% extends 'Profile.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Dzēst profilu' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile/delete_account_form.css' %}" />
{% endblock %}

{% block content %}
<div class="rounded-lg my-8 mx-auto max-w-[900px] overflow-hidden p-6">
    <div class="mb-4 pb-2 border-b border-gray-200">
        <h2 class='text-2xl m-0 text-main-color'>{% trans 'Dzēst profilu' %}</h2>
    </div>
    <div class="card-body">
        <p class="alert alert-warning w-full">
            {% trans "Lūdzu, ņemiet vērā, ka jūsu konta dzēšana pastāvīgi izdzēsīs visus jūsu datus, tostarp iepriekšējos pasūtījumus, saglabātos dizainus un virtuālo valūtu. Šī darbība nav atsaucama. Vai tiešām vēlaties turpināt?" %}
        </p>
        <form class='pass-change' method="post" action="{% url 'profile:delete_account' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="main-btn bg-red-800">{% trans 'Dzēst profilu' %}</button>
        </form>
    </div>
</div>
{% endblock %}
