{% load static %}
{% load static %}
{% load i18n %}


<div id="orderHistory" class="right-section">
    <h2>{% trans 'Pasūtījumu Vēsture' %}</h2>
    {% if user_orders %}
        <div class="order-table-container">
            <table class="order-table">
                <thead>
                    <tr>
                        <th>{% trans 'Pasūtījuma numurs' %}</th>
                        <th>{% trans 'Stāvoklis' %}</th>
                        <th>{% trans 'Kopējā summa' %}</th>
                        <th>{% trans 'Pasūtīts' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in user_orders %}
                        <tr>
                            <td>{{ order.order_number }}</td>
                            <td>{{ order.get_status_display }}</td>
                            <td>{{ order.amount }}</td>
                            <td>{{ order.created_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>{% trans 'Nav atrasta neviena pasūtījumu vēstures ieraksta.' %}</p>
    {% endif %}
</div>
