{% extends 'Profile.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Change Password' %}
{% endblock %}

{% block content %}
<div class="rounded-lg my-8 mx-auto max-w-[900px] overflow-hidden p-6">
    {% if messages %}
        <div class='mb-4'>
            {% for message in messages %}
                {% if 'pass-change' in message.tags %}
                    {% include 'partials/alert.html' with message=message message_tags=message.tags class='' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="mb-4 pb-2 border-b border-gray-200">
        <h2 class='text-2xl m-0 text-main-color'>{% trans 'Change Password' %}</h2>
    </div>
    <div class='mt-4'>
        <form class='pass-change flex flex-col' method="post" action="{% url 'profile:change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="main-btn">{% trans 'Change Password' %}</button>
        </form>
    </div>
</div>
{% endblock %}