{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Dizaina rīks' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/design.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
{% endblock %}

{% block body %}
<div class="loading-overlay"></div>
<div class="spinner"></div>
{% csrf_token %}
    <div class="product-card" data-product-id="{{ product.id }}"></div>
    <div id="error-messages" class="error-messages"></div>
    <div id="success-message" class="success-message"></div>
    <div class="product">
    <div class="image-container" id="front" style="display: block;">
        <div class="boundary" id="boundary-front" style="top: {{ adjusted_front_image_coords.top }}px; margin-left: {{ adjusted_front_image_coords.left }}px; width: {{ adjusted_front_image_coords.width }}px; height: {{ adjusted_front_image_coords.height }}px;"></div>

        <input type="hidden" id="product-slug" name="product_slug" value="{{ product.slug }}">
        <img src="{{ product.front_image_not_background.url }}" class="img-1 front-image" id="front-img" />
        <img src="{{ product.front_image_with_background.url }}" class="img-2 front-image" />
        <div id="text-container" data-side="front" style="position: absolute;"></div>
    </div>
    <div class="image-container" id="back" style="display: none;">
        <div class="boundary" id="boundary-back" style="left: {{ adjusted_back_image_coords.left }}px; top: {{ adjusted_back_image_coords.top }}px; width: {{ adjusted_back_image_coords.width }}px; height: {{ adjusted_back_image_coords.height }}px;"></div>
        <img src="{{ product.back_image_not_background.url }}" class="img-1 front-image" id="back-img" />
        <img src="{{ product.back_image_with_background.url }}" class="img-2 front-image" />
        <div id="text-container" data-side="back" style="position: absolute;"></div>
    </div>
    <div class="color" style="background-color: {{product.available_colors.first.code}}"></div>
</div>

<div id="general" class="content">
    <h1>{% trans 'Izveido savu' %} {{ product.title }}</h1>
    <div class="color-content">
        <b>{% trans 'Pielāgot krāsu' %}</b>
        <div class="color-groups">
            {% for color in available_colors %}

            <div class="color-select" data-color-id="{{ color.color__id }}" data-color-name='{{color.color__name}}' style="background-color: {{ color.color__code }};"></div>
            {% endfor %}
        </div>
    </div>

    <div class="quantity-content-text">
        <b>{% trans 'Ievadiet daudzumu' %}</b>
        <div class="quantity-content">
            <span class="minus">-</span>
            <span class="num">01</span>
            <span class="plus">+</span>
        </div>
    </div>

    <div class="size-content">
        <b>{% trans 'Izvēlies izmēru' %}</b>
        <div class="size-select">
            {% for size in available_sizes %}
            <div class="size-option readonly" data-size="{{ size.size__size }}">
                {{ size.size__size }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="publish-info">
        <input type="checkbox" id="publish-checkbox">
        <label for="publish-checkbox">{% trans 'Apstiprinu, ka vēlos publicēt savu darbu' %}</label>
        <span class="info-icon">
            <svg width="20" height="20" style="color: var(--main-color);">
                <use xlink:href="/static/svg/sprite.svg#info"></use>
            </svg>
        </span>
    </div>

    <div id="additional-info" style="display: none;">
        <input type="text" id="title-input" placeholder="{% trans 'Virsraksts' %}">
        <textarea id="description-input" placeholder="{% trans 'Apraksts' %}"></textarea>
    </div>

    <div class="buy-button">
        <button class="general-button" id="buy-button">{% trans 'Pirkt tagad' %}</button>
    </div>
</div>

<div id="info-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>{% trans 'Pirms publicēšanas jūsu darbu apskatīs administrators. Ja jūsu darbs tiks apstiprināts, mēs to publicēsim. Ja kāds iegādāsies jūsu darbu, jūs saņemsiet 1 eiro savā digitālajā makā.' %}</p>
        <hr>
        <h2>{% trans 'Noteikumi:' %}</h2>
        <ul>
            <li></li>
            <li>{% trans 'Necenzūrēts vai nepiedienīgs saturs nav atļauts.' %}</li>
            <li>{% trans 'Necenzēti vai nepiemēroti teksti nav atļauti virsrakstos un aprakstos.' %}</li>
            <li>{% trans 'Jūsu darbam jābūt oriģinālam un jāievēro intelektuālā īpašuma tiesības.' %}</li>
            <li>{% trans 'Publicējot darbu, jūs piekrītat tā izmantošanai mūsu platformā un tās reklamēšanai.' %}</li>
            <li>{% trans 'Jūs piekrītat, ka mēs varēsim izmantot jūsu lietotāja vārdu vai citu informāciju darbu reklamēšanai vai promocijai mūsu vietnē vai sociālajos tīklos.' %}</li>
            <li>{% trans 'Jūs esat atbildīgs par visu saturu, ko publicējat, un mēs paturam tiesības noņemt vai rediģēt saturu pēc saviem ieskatiem.' %}</li>
            <li>{% trans 'Jūs piekrītat ievērot visus vietnes lietošanas noteikumus un privātuma politiku.' %}</li>
            <li></li>
        </ul>
        <hr>
        <p>{% trans 'Šī ir tikai informatīva ziņa, nav obligāti jāatzīmē rūtiņa, lai publicētu.' %}</p>
    </div>
</div>

{% if product.can_have_image %}
    <div id="upload" class="content" style="display: none;">
        <div class="upload-wrapper">
            <div class="upload-area">
                <div class="upload-area-svg">
                    <svg width="60" height="60" style="color: var(--text-color);">
                        <use xlink:href="/static/svg/sprite.svg#upload"></use>
                    </svg>
                </div>
                <p class="upload-area-text">{% trans 'Nometiet attēlus vai' %}<span> {% trans ' Pārlūkot' %}</span></p>
            </div>
            <input type="file" class="visually-hidden" name="" id="upload-input" accept="image/*" multiple>
            <div class="upload-img">
            </div>
        </div>
    </div>
{% endif %}
{% if product.can_have_text %}
    <div id="Text" class="content" style="display: none;">
        <h1>{% trans 'Pievienot tekstu' %}</h1>
        <div class="input-container">
            <label for="text-input">{% trans 'Ievadiet tekstu:' %}</label>
            <input type="text" id="text-input" placeholder="{% trans 'Lūdzu, ievadiet savu tekstu šeit.' %}">
        </div>
        <div class="input-container">
            <label for="font-select">{% trans 'Izvēlieties fontu:' %}</label>
            <select id="font-select">
                <option value="Arial" style="font-family: Arial;">Arial</option>
                <option value="Times New Roman" style="font-family: 'Times New Roman';">Times New Roman</option>
                <option value="Verdana" style="font-family: Verdana;">Verdana</option>
                <option value="Courier New" style="font-family: 'Courier New';">Courier New</option>
                <option value="Georgia" style="font-family: Georgia;">Georgia</option>
                <option value="Helvetica" style="font-family: Helvetica;">Helvetica</option>
                <option value="Tahoma" style="font-family: Tahoma;">Tahoma</option>
                <option value="Comic Sans MS" style="font-family: 'Comic Sans MS';">Comic Sans MS</option>
                <option value="Impact" style="font-family: Impact;">Impact</option>
                <option value="Palatino Linotype" style="font-family: 'Palatino Linotype';">Palatino Linotype</option>
            </select>
        </div>
        <div class="input-container-2">
            <div class="input-field">
                <label for="font-size">{% trans 'Fonta izmērs:' %}</label>
                <input type="number" id="font-size" value="16">
            </div>
            <div class="input-field">
                <label for="font-color">{% trans 'Fonta krāsa:' %}</label>
                <input type="color" id="font-color" value="#000000">
            </div>
        </div>
        <div class="addTextbtn">
            <button id="addTextButton" class="button">
                <svg width="20" height="20" style="color: white;">
                    <use xlink:href="/static/svg/sprite.svg#plus"></use>
                </svg>
            {% trans 'Pievienot tekstu' %}</button>
        </div>
        <div id="output-text-container">
            <div id="output-text"></div>
            <button onclick="editText()" style="display: none;">{% trans 'Rediģēt tekstu' %}</button>
        </div>
        <ul id="text-list"></ul>
    </div>
{% endif %}

{% if product.can_have_ai_image %}
    <div id="Ai-generator" class="content" style="display: none;">
        <h1>{% trans 'AI attēla ģenerators' %}</h1>
        <input type="text" id="textInput-Ai" placeholder="{% trans 'Ievadiet tekstu' %}">
        <button id="generateButton">{% trans 'Ģenerēt attēlu' %}</button>
        <div id="loader" class="loader"></div>
        <img id="image" src="" alt="">
        <button id="sendToImageBtn" style="display:none;">{% trans 'Sūtīt uz attēlu' %}</button>
    </div>
{% endif %}

<div class="navbar-wrapper pc">
    <div class="nav-item" id="generalIcon">
        <svg width="20" height="20" style="color: var(--text-color);">
            <use xlink:href="/static/svg/sprite.svg#settings"></use>
        </svg>
        <div class="tooltip">{% trans 'Vispārīgi' %}</div>
    </div>
    {% if product.can_have_image %}
        <div class="nav-item" id="imageIcon">
            <svg width="20" height="20" style="color: var(--text-color);">
                <use xlink:href="/static/svg/sprite.svg#image"></use>
            </svg>
            <div class="tooltip">{% trans 'Attēls' %}</div>
        </div>
    {% endif %}
    {% if product.can_have_text %}
        <div class="nav-item" id="textIcon">
            <svg width="20" height="20" style="color: var(--text-color);">
                <use xlink:href="/static/svg/sprite.svg#text"></use>
            </svg>
            <div class="tooltip">{% trans 'Teksts' %}</div>
        </div>
    {% endif %}
    {% if product.can_have_ai_image %}
        <div class="nav-item" id="Ai-generatoricon">
            <svg width="20" height="20" style="fill: var(--text-color);">
                <use xlink:href="/static/svg/sprite.svg#AI"></use>
            </svg>
            <div class="tooltip">{% trans 'AI Ģenerators' %}</div>
        </div>
    {% endif %}
    {% if product.can_be_rotate %}
        <div class="nav-item" id="roatateicon">
            <svg width="20" height="20" style="color: var(--text-color);">
                <use xlink:href="/static/svg/sprite.svg#rotate"></use>
            </svg>
            <div class="tooltip">{% trans 'Pagriezt' %}</div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/addtocart.js' %}"></script>
    <script src="{% static 'js/SaveDesign.js' %}"></script>
    {% if product.can_have_ai_image %}
        <script src="{% static 'js/aiimagegenerate.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/design.js' %}"></script>
    <script src="{% static 'js/general_design.js' %}"></script>
    {% if product.can_have_image %}
        <script src="{% static 'js/addimage.js' %}"></script>
    {% endif %}
    {% if product.can_have_text %}
        <script src="{% static 'js/addtext.js' %}"></script>
    {% endif %}

    <script>
        $(window).on('load', function() {
            $('.spinner').fadeOut();
            $('.loading-overlay').fadeOut();
        });
    </script>

{% endblock %}