{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
    {% trans 'Detail' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}

{% block body %}
    <div id="messages">
        <div id="error-messages" class="error-messages"></div>
        <div id="success-message" class="success-message"></div>
    </div>
    <div class="home">
        <div class="sneaker">
            <div class="sneaker__figure"></div>

        <div>
            <img id="sneakerImg" src="{{ product.front_image.url }}" style="display: none;">
            <canvas id="outputCanvas" class="sneaker__img shows" color="#A29596"></canvas>
            <img id="sneakerImg2" src="{{ product.back_image.url }}" style="display: none;">
            <canvas id="outputCanvas2" class="sneaker__img" color="#111111"></canvas>
        </div>

        <div class="sneaker__colors">
            <span class="sneaker__color sneaker__colors-one active" primary="#A29596" color="#A29596"></span>
            <span class="sneaker__color sneaker__colors-two " primary="#111111" color="#111111"></span>
        </div>
    </div>

        <div class="info">
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_x"></a>
                <a class="a2a_button_email"></a>
                <a class="a2a_button_copy_link"></a>
            </div>

            <div class="star-wrapper" data-product-id="{{ product.id }}" data-rating="{{ product.average_rating }}">
                {% for i in "12345" %}
                    <a class="fas fa-star s{{ i }}" data-rating-value="{{ i }}"></a>
                {% endfor %}
            </div>

            <div class="data">
                <span class="data__subtitle">{% trans 'Autors: ' %}  {{product.author.username}}</span>
                <h1 class="data__title">{{product.title}}</h1>
                <p class="data__description">{{product.description}}</p>
            </div>

            <div class="actions">
                {% if size.available_sizes.all %}
                    <div class="size">
                        <h3 class="size__title">{% trans 'Izmērs' %}</h3>
                        <div class="size__content">
                            {% for size in size.available_sizes.all %}
                                <span class="size__tallas">{{ size.size }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="price">
                <span class="price__title">{{ product.product.price }} €</span>
                <a href="#" onclick="AddToCart('{{ product.id }}')" class="price__button">
                    <i class="fa-solid fa-cart-shopping"></i>{% trans 'Pievienot grozā' %}
                </a>
            </div>
        </div>
    </div>
    <div id="success-reiting" class="success-message" style="display:none">
        <strong>{% trans 'Jūsu reitings ir saglabāts!' %}</strong>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/detail.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const stars = document.querySelectorAll('.star-wrapper .fas');
            const successAlert = document.getElementById('success-reiting');

            stars.forEach(function (star) {
                star.addEventListener('click', function () {
                    const ratingValue = this.getAttribute('data-rating-value');
                    saveRating('{{ product.id }}', ratingValue);
                });
            });

            function saveRating(productId, ratingValue) {
                $.post('{% url "product:save_rating" %}', {
                    'product_id': productId,
                    'rating': ratingValue,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }).done(function () {
                    successAlert.style.display = 'block';
                    setTimeout(() => successAlert.style.display = 'none', 5000);
                    updateStarRating(ratingValue);
                }).fail(function (xhr) {
                    console.error('Kļūda saglabājot reitingu:', xhr.responseText);
                });
            }

            function updateStarRating(ratingValue) {
                stars.forEach((star, index) => {
                    star.classList.toggle('active', index < ratingValue);
                });
            }
        });
    </script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
{% endblock %}
