{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Kategorijas{% endblock %}

{% block body %}
    <main class="py-16 px-5 max-w-[1200px] mx-auto mt-24">
        <h1 class="text-4xl text-center mb-12 text-text-color font-bold relative after:content-[''] after:block after:w-[70px] after:h-[8px] after:bg-gradient-to-r after:from-[var(--main-color)] after:to-[var(--main-hover-color)] after:mt-5 after:mx-auto after:rounded-[5px]">
            {% trans "Produktu Kategorijas" %}
        </h1>
        <div class="grid gap-8 sm:gap-6 [grid-template-columns:repeat(auto-fill,minmax(250px,1fr))]">
            {% for category in categories %}
            <a href="{% url 'product:category_detail' category.slug %}" class="flex flex-col bg-second-color rounded-2xl overflow-hidden text-text-color shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out transform hover:scale-[1.02]">
                <div class="relative w-full h-52 overflow-hidden">
                    <img data-src="{{ category.image.url }}" alt="{{ category.title }}" class="lazyload w-full h-full object-contain no-search">
                </div>
                <div class="p-6 text-center">
                    <h2 class="text-2xl font-semibold mb-2 text-text-color transition-colors duration-300 hover:text-main-color">
                        {{ category.title }}
                    </h2>
                    <p class="text-sm text-gray-600">{{ category.description|truncatewords:20 }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>
{% endblock %}
