{% extends 'base.html' %}
{% load static %}
{% load static i18n %}
{% load cart_tag %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/thread_detail.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emoji-picker-element@1.0.0/dist/emoji-picker.css">
{% endblock %}

{% block body %}
<div class="container thread-detail">
    <div class="thread-header">
        <h1>{{ thread.title }}</h1>
    </div>
    <form method="post" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Add Post</button>
    </form>
    <button type="button" id="emoji-button" class="btn-emoji">😊</button>
    <emoji-picker id="emoji-picker"></emoji-picker>
    <ul class="post-list">
        {% for post in thread.posts.all %}
        <li class="post-item">
            <strong class="post-author">{{ post.created_by }}:</strong>
            <p class="post-content">{{ post.content }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@1.0.0/dist/emoji-picker-element.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const emojiButton = document.getElementById('emoji-button');
            const emojiPicker = document.getElementById('emoji-picker');
            const contentArea = document.querySelector('.post-form textarea[name="content"]');

            emojiButton.addEventListener('click', function() {
                emojiPicker.style.display = emojiPicker.style.display === 'none' || emojiPicker.style.display === '' ? 'block' : 'none';
            });

            emojiPicker.addEventListener('emoji-click', function(event) {
                contentArea.value += event.detail.emoji.unicode;
                emojiPicker.style.display = 'none';
            });
        });
    </script>
{% endblock %}
