{% extends 'base.html' %}
{% load static %}
{% load static i18n %}
{% load cart_tag %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/thread_list.css' %}">
{% endblock %}

{% block body %}
    <div class="thread-list-container">
        <h1>Forum Threads</h1>
        <a href="{% url 'forum:thread_create' %}" class="create-button">Create New Thread</a>
        <ul class="thread-list">
            {% for thread in threads %}
                <li class="thread-item">
                    <a href="{% url 'forum:thread_detail' thread.pk %}" class="thread-link">
                        <strong>{{ thread.title }}</strong>
                        <div class="thread-author">By {{ thread.created_by.username }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}