{% extends 'base.html' %}
{% load static %}
{% load static i18n %}
{% load cart_tag %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/thread_form.css' %}" />
{% endblock %}

{% block body %}
  <div>
      <h1>Create New Thread</h1>
  </div>
  <div class="container thread-form">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <button type="submit" class="btn-submit">Create Thread</button>
      </form>
  </div>
{% endblock %}