{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<div class='mt-32'>
    <div class="max-w-lg mx-auto p-6 bg-second-color rounded-lg shadow-lg border border-gray-200 max-sm:mx-5">
        <h2 class="text-3xl font-semibold mb-6 text-text-color">{% trans "Bankas rekvizīti" %}</h2>
        <p class="mb-4 text-text-color">{% trans "Lūdzu, izmantojiet šos rekvizītus, lai veiktu bankas pārskaitījumu:" %}</p>

        <ul class="mb-6 text-text-color">
            <li class="relative mb-4">
                <label for="bank_name" class="block text-text-color font-semibold mb-1">{% trans "Banka" %}:</label>
                <input type="text" id="bank_name" value="{{ bank_details.bank_name }}" readonly class="block w-full bg-input-readonly-color border border-gray-300 rounded px-3 py-2 pr-12 transition-colors duration-500 focus:outline-none focus:border-main-color text-text-color">
                {% include "include/svg_icon.html" with name="copy" classes="absolute right-3 top-2/3 transform -translate-y-1/2 fill-main-color cursor-pointer" onclick="copyToClipboard('bank_name')"%}
            </li>
            <li class="relative mb-4">
                <label for="bank_name" class="block text-text-color font-semibold mb-1">{% trans "Saņēmējs" %}:</label>
                <input type="text" id="bank_name" value="{{ bank_details.recipient }}" readonly class="block w-full bg-input-readonly-color border border-gray-300 rounded px-3 py-2 pr-12 transition-colors duration-500 focus:outline-none focus:border-main-color text-text-color">
                {% include "include/svg_icon.html" with name="copy" classes="absolute right-3 top-2/3 transform -translate-y-1/2 fill-main-color cursor-pointer" onclick="copyToClipboard('bank_name')"%}
            </li>
            <li class="relative mb-4">
                <label for="account_number" class="block text-text-color font-semibold mb-1">{% trans "Konta numurs" %}:</label>
                <input type="text" id="account_number" value="{{ bank_details.account_number }}" readonly class="block w-full bg-input-readonly-color border border-gray-300 rounded px-3 py-2 pr-12 transition-colors duration-500 focus:outline-none focus:border-main-color text-text-color">
                {% include "include/svg_icon.html" with name="copy" classes="absolute right-3 top-2/3 transform -translate-y-1/2 fill-main-color cursor-pointer" onclick="copyToClipboard('account_number')"%}
            </li>
            <li class="relative mb-4">
                <label for="amount" class="block text-text-color font-semibold mb-1">{% trans "Summa" %}:</label>
                <input type="text" id="amount" value="{{ amount }}" readonly class="block w-full bg-input-readonly-color border border-gray-300 rounded px-3 py-2 pr-12 transition-colors duration-500 focus:outline-none focus:border-main-color text-text-color">
                {% include "include/svg_icon.html" with name="copy" classes="absolute right-3 top-2/3 transform -translate-y-1/2 fill-main-color cursor-pointer" onclick="copyToClipboard('amount')"%}
            </li>
            <li class="relative mb-4">
                <label for="order_number" class="block text-text-color font-semibold mb-1">{% trans "Maksājuma mērķis" %}:</label>
                <input type="text" id="order_number" value="{{ order_number }}" readonly class="block w-full bg-input-readonly-color border border-gray-300 rounded px-3 py-2 pr-12 transition-colors duration-500 focus:outline-none focus:border-main-color text-text-color">
                {% include "include/svg_icon.html" with name="copy" classes="absolute right-3 top-2/3 transform -translate-y-1/2 fill-main-color cursor-pointer" onclick="copyToClipboard('order_number')"%}
            </li>
        </ul>

        <div class="flex justify-between mb-4">
            <form method="POST" action="{% url 'payments:cancel_purchase' %}">
                {% csrf_token %}
                <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition-transform transform hover:scale-105">{% trans "Atpakaļ" %}</button>
            </form>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="bg-main-color hover:bg-main-color-dark text-white font-semibold py-2 px-4 rounded-lg shadow-md transition-transform transform hover:scale-105">{% trans "Samaksāju" %}</button>
            </form>
        </div>
    </div>
</div>

    <script>
        function copyToClipboard(id) {
            var input = document.getElementById(id);
            input.select();
            document.execCommand('copy');
        }
    </script>
{% endblock %}
