{% extends "admin/change_form.html" %}

{% block object-tools %}
    {% if has_change_permission %}
        <ul class="object-tools">
            <li>
                <p>Custom button should be here</p>
                <form method="post" action=".">
                    {% csrf_token %}
                    <input type="hidden" name="send_email" value="1">
                    <button type="submit" class="button">Nosūtīt e-pastu</button>
                </form>
            </li>
        </ul>
    {% endif %}
    {{ block.super }}
{% endblock %}
