
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.container {
    max-width: 1000px;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
}

.content {
    flex: 1;
    padding: 2em;
    background-color: var(--second-color);
}

.content h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}

.formBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 22px
}

.inputBox {
    position: relative;
    width: calc(50% - 20px); /* Adjust width for spacing */
}

.inputBox label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--text-color);
}

.inputBox input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--input-color);
    color: var(--text-color);
}

.inputBox input:focus {
    border-color: var(--main-color);
    outline: none;
}

.phone-number-container {
    display: flex;
    align-items: center;
}

.country-code-selector {
    margin-right: 10px;
    flex-shrink: 0;
}

.country-code-selector select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--input-color);
    font-size: 1rem;
    color: var(--text-color);
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover efekts */
.btn:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Palielināts ēnas efekts */
}

/* Active efekts */
.btn:active {
    background-color: darken(var(--main-color), 20%);
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Samazināts ēnas efekts */
}


.account {
    text-align: center;
    margin-top: 20px;
}

.account a {
    color: var(--main-color);
    text-decoration: none;
}

.account a:hover {
    text-decoration: underline;
}

/* Responsīvs dizains */
@media(max-width: 768px) {
    .main {
        flex-direction: column;
        margin-top: 90px;
    }

    .inputBox {
        width: 100%;
    }
}


.inputBox.error input {
    border-color: #b71c1c; /* Red border for errors */
}

.error-message {
    color: #b71c1c;
    font-size: 0.875rem;
    margin-top: 5px;
}

.errorlist li{
    color: #b71c1c;
    font-size: 0.875rem;
    margin-top: 5px;
}

.error-input {
    border-color: #b71c1c;
}

.CheckBox .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.CheckBox .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    accent-color: var(--main-color);
}

.CheckBox .checkbox-container label {
    cursor: pointer;
    font-size: 0.9em;
}

.terms-link {
    color: var(--main-color); /* Mainīt saites krāsu uz galveno krāsu */
    text-decoration: underline;
}

.terms-link:hover {
    text-decoration: none;
}