{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block title %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block body %}

    <div class='login-form'>
        <div class='container'>
            <div class='main'>
                <div class='content'>
                    <h2>{% trans 'Vai esat aizmirsis paroli?' %}</h2>
                    <form action='' method='post'>
                      {{ form.as_p }}
                    </form>
                </div>
                <div class='form-img'>
                    <img data-src="{% static '/img/login.png' %}" class="lazyload" alt=''>
                </div>
            </div>
        </div>
    </div>

{% endblock %}












