{% load static compress i18n cart_tag custom_tags %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block og_head %}
        <meta property="og:title" content="EricPrint – Veido un pārdod savus dizainus uz krekliem, krūzēm un daudz kā cita!" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:image" content="{% display_icon %}" />
        <meta property="og:description" content="EricPrint ir dizaina platforma, kur vari izveidot savu dizainu un pārdot to uz krekliem, krūzēm un citiem produktiem." />
        <meta property="og:site_name" content="EricPrint" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="EricPrint – Veido un pārdod savus dizainus!" />
        <meta name="twitter:description" content="Veido savus dizainus un pelni no tiem uz T-krekliem, krūzēm, phone case u.c." />
        <meta name="twitter:image" content="{% display_icon %}" />
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <link href="{% static 'src/input.css' %}" rel="stylesheet">

    {% if not debug %}
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="dd464516-7e9e-4977-a678-2eee349bb2b8" data-blockingmode="auto" type="text/javascript"></script>
    {% endif %}

    <link rel="icon" href="{% display_icon %}" type="image/png">
    <link rel="manifest" href="{% static 'manifest.json' %}">

    <script defer type="module" src="{% static 'js/app.js' %}"></script>
    {% render_bundle 'main' %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

    <style>
        #custom-loader {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        #custom-loader.hidden {
        opacity: 0;
        visibility: hidden;
        }
    </style>
</head>

<body class='text-text-color bg-bg-color'>
    <div id="custom-loader" class="fixed inset-0 flex flex-col gap-6 items-center justify-center bg-bg-color text-main-color z-[999999] transition-opacity duration-300">
        <span class="text-2xl font-semibold tracking-widest animate-pulse">EricPrint</span>
        <div class="flex gap-1">
            <span class="w-3 h-3 rounded-full bg-main-color animate-[bounce_1s_infinite]"></span>
            <span class="w-3 h-3 rounded-full bg-main-color animate-[bounce_1s_infinite_150ms]"></span>
            <span class="w-3 h-3 rounded-full bg-main-color animate-[bounce_1s_infinite_300ms]"></span>
        </div>
    </div>
    <header class='fixed w-full top-0 right-0 z-[100000] flex p-7 items-center justify-between transform max-2xl:px-4 max-2xl:py-3.5 max-lg:px-2 max-xl:bg-second-color bg-bg-color'>
        <a href='{% url "homepage" %}' class="flex items-center color-text-color text-3xl font-bold">
            <img class='lazyload align-middle text-main-color h-14 w-14 mr-1 no-search' data-src='{% display_icon %}' alt="EricPrint Logo">
            <span>EricPrint</span>
        </a>
        <ul class="navlist">
            <li><a href='{% url "homepage" %}' class="Home">{% trans 'Sākumlapa' %}</a></li>
            <li><a href='{% url "product:creativecorner" %}' class="creative_corner">{% trans 'Radošais stūrītis' %}</a></li>
            <li><a href='{% url "contact_us" %}'>{% trans 'Sazinies ar mums' %}</a></li>
            <li class='hidden max-md:block'><a href='{% url "shopping_cart:cart" %}'>{% trans 'Grozs' %}</a></li>
            {% if user.is_authenticated %}
                <li class='nav-content-second'>
                    <a href="{% url 'profile:personal_info' %}">{% trans 'Profils' %}</a></li>
                <li class='nav-content-second'><a href="{% url 'profile:logout' %}">{% trans 'Izrakstīties' %}</a></li>
            {% else %}
                <li class='nav-content-second'><a href='{% url 'login' %}'>{% trans 'Pierakstīties' %}</a></li>
            {% endif %}
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}" class="Admin">{% trans 'Admin' %}</a></li>
            {% endif %}
        </ul>
        <div class="flex items-center">
            {% if user.is_authenticated %}
            <div class="relative dropdown nav-content">
                <a href="javascript:void(0)" class="base-page-btn" id="dropdownButton">
                    {% include "include/svg_icon.html" with name="user" %}
                    {% trans 'Profils' %}
                </a>
                <div id="dropdownMenu" class="dropdown-content absolute bg-white border border-gray-300 rounded-lg shadow-lg w-48 z-10 hidden group">
                    <a href="{% url 'profile:personal_info' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-lg">{% trans 'Profils' %}</a>
                    <a href="{% url 'profile:logout' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-lg">{% trans 'Izrakstīties' %}</a>
                </div>
            </div>
            {% else %}
                <a href='{% url 'login' %}' class='base-page-btn nav-content'>{% trans 'Pierakstīties' %}</a>
            {% endif %}
            <div id="menu-icon" class='text-4xl text-text-color z-[10001] cursor-pointer m-4 nav-content-second'>

                {% include "include/svg_icon.html" with name="menu" id='menu-icon-svg' size=25 classes="fill-current" %}
                {% include "include/svg_icon.html" with name="close" id='close-icon-svg' size=25 classes="hidden" %}

            </div>
            <a href="{% url 'shopping_cart:cart' %}" class="text-4xl text-text-color z-[10001] cursor-pointer m-4 max-md:hidden">
                {% include "include/svg_icon.html" with name="shopping_cart" size=25 classes="fill-current" %}
                {% if request.session.cart|length >= 1 %}
                    <span id="cart-count">{{ request.session.cart|length }}</span>
                {% endif %}
            </a>
            <div id="darkmode" class='text-4xl text-text-color z-[10001] cursor-pointer m-4 '>
                {% include "include/svg_icon.html" with name="moon-ico" size=25 classes="fill-current" %}
            </div>
            <div class="relative inline-block">
                <div class="dropdown">
                    <button class="bg-transparent text-text-color p-3 text-base cursor-pointer flex items-center space-x-2 transition-all duration-200">
                        <img class='lazyload h-5 no-search' data-src="{% if LANGUAGE_CODE == 'lv' %}{% static 'img/lv-flag.png' %}{% else %}{% static 'img/en-flag.png' %}{% endif %}" alt="{% if LANGUAGE_CODE == 'lv' %}Latvian{% else %}English{% endif %}">
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <div class="dropdown-content absolute bg-second-color rounded-lg shadow-lg w-48 z-10 hidden group origin-top-right right-0">
                        <form id="language-form" class="flex flex-col bg-second-color rounded-lg shadow-lg" action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <button class="flex items-center space-x-2 px-4 py-2 text-left w-full rounded-lg border-none cursor-pointer hover:bg-hover-color transition-colors duration-200" type="submit" name="language" value="lv">
                                <img class="lazyload h-5 mr-3 no-search" data-src="{% static 'img/lv-flag.png' %}" alt="Latvian">
                                <span>Latviešu</span>
                            </button>
                            <button class="flex items-center space-x-2 px-4 py-2 text-left rounded-lg w-full border-none cursor-pointer hover:bg-hover-color transition-colors duration-200" type="submit" name="language" value="en">
                                <img class="lazyload h-5 mr-3 no-search" data-src="{% static 'img/en-flag.png' %}" alt="English">
                                <span>English</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
    </header>
    {% block body %}{% endblock %}

    {% include 'include/_install_banner.html'%}

    <script>
        const loader = document.getElementById('custom-loader');

        window.addEventListener('load', () => {
          setTimeout(() => loader.classList.add('hidden'), 300);
        });

        document.querySelectorAll('a').forEach(link => {
          if (!link.href.startsWith(window.location.origin) || link.getAttribute('href').startsWith('#')) {
            return;
          }
          link.addEventListener('click', e => {
            e.preventDefault();
            loader.classList.remove('hidden');
            setTimeout(() => {
              window.location.href = link.href;
            }, 300);
          });
        });
      </script>


</body>
</html>
