@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inputBox {
    @apply relative mb-9 px-2;
}

.inputBox input,
.inputBox textarea {
    @apply w-full resize-none py-2 border-b bg-second-color text-lg text-text-color outline-none;
}

.inputBox textarea {
    @apply h-36;
}

.inputBox .label-text {
    @apply absolute left-2 top-2 transition-transform text-lg text-text-color cursor-pointer;
    pointer-events: none;
}

.inputBox input:focus ~ .label-text,
.inputBox input:valid ~ .label-text,
.inputBox textarea:focus ~ .label-text,
.inputBox textarea:valid ~ .label-text {
    @apply transform -translate-y-6 text-xs font-bold;
    pointer-events: auto;
    background-color: transparent;
    color: #333;
}


.inputBox input[type="submit"] {
  @apply relative cursor-pointer bg-main-color rounded-3xl p-3 text-white ;
}

.inputBox input[type="submit"]:hover {
  @apply bg-main-hover-color;
}

  .calc{
    width: calc(100% - 350px);
  }

  .min-w-auto{
    min-width: auto;
  }

  .btn {
    @apply w-full p-3 bg-main-color text-white rounded-md border-none text-xl font-semibold cursor-pointer transition-transform duration-300 ease-in-out transform;

    @apply shadow-md;

    &:hover {
      @apply bg-opacity-90 shadow-lg;
    }

    &:active {
      @apply scale-95;
    }
  }

  .star-wrapper {
    @apply flex justify-center;
  }

  .star svg use {
    fill: grey;
    stroke: grey;
  }


  .star.active svg use {
    fill: gold;
    stroke: gold;
  }

  .main-btn {
    @apply bg-main-color text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-main-color focus:ring-opacity-50 flex justify-center items-center cursor-pointer w-full h-12;
  }

  .main-btn:hover {
    @apply bg-gradient-to-r from-main-hover-color;
  }

  .main-btn:active {
    @apply bg-main-color transition-all duration-150 ease-out;
  }

  .copied {
    @apply bg-main-color border-main-color
}

:root {
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

/* Mobile adjustments */
@media (max-width: 640px) {
  :root {
    --marquee-width: 95vw;
    --marquee-elements-displayed: 2; /* Show fewer elements */
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 4s); /* Slow down animation */
  }
}

.marquee {
  @apply overflow-hidden relative;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, var(--bg-color) 64px, var(--bg-color) calc(100% - 100px), transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, var(--bg-color) 64px, var(--bg-color) calc(100% - 100px), transparent 100%);
}

/* For mobile version of the mask */
@media (max-width: 640px) {
  .marquee {
    -webkit-mask-image: linear-gradient(to right, transparent 0%, var(--bg-color) 16px, var(--bg-color) calc(100% - 16px), transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, var(--bg-color) 16px, var(--bg-color) calc(100% - 16px), transparent 100%);
  }

  .marquee-content {
    @apply flex ml-5;
  }
}

.marquee-content {
  @apply list-none h-full flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content li {
  @apply flex justify-center flex-shrink-0 max-h-full whitespace-nowrap max-2xl:m-16 max-sm:m-4;
  width: var(--marquee-element-width);
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

[x-cloak] {
  display: none !important;
}
}