{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
    <div class="navbar-container">
        <nav class="navbar">
            <div class="navbar-brand">{% trans "Mans Profilsa" %}</div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile:personal_info' %}">
                        <svg width="20" height="20" style="fill: var(--text-color); margin-right: 8px;">
                            <use xlink:href="/static/svg/sprite.svg#user"></use>
                        </svg>
                        {% trans "Personīgā informācija" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile:change_password' %}">
                        <svg width="20" height="20" style="fill: var(--text-color); margin-right: 8px;">
                            <use xlink:href="/static/svg/sprite.svg#key"></use>
                        </svg> {% trans "Paroles maiņa" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile:order_history' %}">
                        <svg width="20" height="20" style="fill: var(--text-color); margin-right: 8px;">
                            <use xlink:href="/static/svg/sprite.svg#order"></use>
                        </svg>
                        {% trans "Pasūtījumu vēsture" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile:delete_account' %}">
                        <svg width="20" height="20" style="fill: var(--text-color); margin-right: 8px;">
                            <use xlink:href="/static/svg/sprite.svg#trash"></use>
                        </svg>
                        {% trans "Dzēst kontu" %}a
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
