{% extends 'base.html' %}
{% load static %}
{% load static i18n %}
{% load cart_tag %}

{% block title %}
    {% trans 'Grozs' %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
{% endblock %}

{% block body %}

<div class="cart-container">
    <section class="cart-items">
        {% for key, value in request.session.cart.items %}
        <div class="cart-item" data-product-id="{{ value.product_id }}">
            <img src="{{ value.image }}" alt="Product Image">
            <div class="item-details">
                <div class="top-details">
                    <h2 class="item-title">{{ value.title }}</h2>
                    <p class="price">{{ value.price }}€</p>
                </div>
                <div class="size-quantity">
                    <div class="size-section">
                        <label for="size-{{ forloop.counter }}">Izmērs:</label>
                        <select id="size-{{ forloop.counter }}">
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                        </select>
                    </div>
                    <div class="quantity-section">
                        <label for="quantity-{{ forloop.counter }}">Daudzums:</label>
                        <div class="quantity-controls">
                            <button class="quantity-btn minus">-</button>
                            <input type="number" id="quantity-{{ forloop.counter }}" value="1" min="1">
                            <button class="quantity-btn plus">+</button>
                        </div>
                    </div>
                </div>
                <button class="remove-btn">
                    <svg width="20" height="20" style="fill: var(--text-color);">
                        <use xlink:href="/static/svg/sprite.svg#trash"></use>
                    </svg>
                    Noņemt
                </button>
            </div>
        </div>
        {% endfor %}
    </section>

    <aside class="cart-summary">
        <div class="summary-content">
            <div class="coupon">
                <label for="coupon-code">Ievadiet kupona kodu:</label>
                <div class="coupon-input-container">
                    <input type="text" id="coupon-code" placeholder="Kupona kods">
                    <button class="apply-coupon">Piemērot kuponu</button>
                </div>
            </div>
            <div class="pricing">
                <p>Pirms atlaides: €70.00</p>
                <p>Nodoklis: €7.00</p>
                <p>Piegāde: €4.00</p>
                <p class="total">Kopā: {{ cart_total_amount|floatformat:2 }}€</p>
            </div>
            <div class="payment-options">
                <p>Maksājuma opcijas:</p>
                <div class="payment-btns">
                    <button class="payment-btn internet-bank">
                      <svg width="20" height="20" style="fill: white;">
                        <use xlink:href="/static/svg/sprite.svg#laptop"></use>
                    </svg>
                      Interneta banka
                    </button>
                    <button class="payment-btn bank-transfer">
                      <svg width="20" height="20" style="fill: white;">
                        <use xlink:href="/static/svg/sprite.svg#bank"></use>
                    </svg>
                      Bankas pārskaitījums
                    </button>
                    <button class="payment-btn apple-pay">
                      <svg width="20" height="20" style="fill: white;">
                        <use xlink:href="/static/svg/sprite.svg#apple"></use>
                    </svg>
                      Apple Pay
                    </button>
                    <button class="payment-btn stripe">
                      Stripe
                    </button>
                </div>
            </div>
        </div>
    </aside>
</div>

{% endblock %}
