@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    }

.Logo {
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    }

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 100px;
    }

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .3s;
    }

.navbar a:hover::before {
    width: 100%;
    }

#menu-icon{
    color: black;
    font-size: 25px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
}

.dropdown_menu{
    position: absolute;
    display: none;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.322);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 300px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

@media (max-width:1400px){
    #menu-icon{
        display: block;
    }
    .navbar{
        display: none;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width:500px){
    .header {
        padding: 20px 20px;
    }
}