/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2021 @codewithsadee 
 */





/*-----------------------------------*\
  #VARIABLE
\*-----------------------------------*/

:root {

    /**
     * Colors
     */
  
    --onyx:         hsl(0, 0%, 25%);
    --white:        hsl(0, 0%, 100%);
    --platinum:     hsl(0, 0%, 91%);
    --gainsboro:    hsl(0, 0%, 90%);
    --red-salsa:    hsl(0, 77%, 60%);
    --dim-gray:     hsl(0, 0%, 39%);
    --davys-gray:   hsl(0, 0%, 30%);
    --spanish-gray: hsl(0, 0%, 62%);
    --quick-silver: hsl(0, 0%, 64%);
  
    /**
     * Typography
     */
  
    --fs-28: 28px;
    --fs-24: 24px;
    --fs-18: 18px;
    --fs-15: 15px;
    --fs-14: 14px;
  
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
  

    --px: 60px;
    --radius: 5px;
  
  }

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html { font-family: 'Source Sans 3', sans-serif; }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
  }
  
  ion-icon, span { display: inline-block; }
  
  label, img { display: block; }
  
  input {
    font: inherit;
    width: 100%;
    border: none;
  }
  
  input:focus { outline: 2px solid var(--main-color); }
  
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance:         none;
    -webkit-appearance: none;
    margin: 0;
  }
  
  ::-webkit-scrollbar { width: 8px; }
  
  ::-webkit-scrollbar-track { background: transparent; }
  
  ::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
  
  
  .container {
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    font-size: var(--fs-28);
    font-weight: var(--fw-6);
    color: var(--text-color);
    border-bottom: 1px solid var(--gainsboro);
    padding: 20px var(--px);
    display:     flex;
    align-items: center;
    gap: 20px;
  }
  
  .heading ion-icon { font-size: 40px; }
  
  .item-flex {
    display: flex;
    flex-grow: 1;
  }
  

  
  .checkout {
    width: 70%;
    padding: 40px var(--px);
    background: var(--second-color);
    border-right: 1px solid var(--gainsboro);
  }
  
  .section-heading {
    color: var(--text-color);
    margin-bottom: 30px;
    font-size: var(--fs-24);
    font-weight: var(--fw-5);
  }
  
  .payment-form { margin-bottom: 40px; }
  
  .payment-method {
    display:     flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
  }

  .payment-method:hover{
    border-color: var(--main-color);
  }
  
  .payment-method .method {
    border: 1px solid var(--quick-silver);
    border-radius: var(--radius);
    width: 50%;
    display:     flex;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
    cursor: pointer;
    color: var(--text-color)
  }
  
  .payment-method .selected { border-color: var(--main-color); }
  
  .payment-method .method ion-icon { font-size: 20px; }
  
  .payment-method .method .checkmark {
    margin-left: auto;
    color: var(--text-color);
  }
  
  .payment-method .method .fill { color: var(--main-color); }
  
  .label-default {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: var(--fs-14);
    color: var(--text-color);
  }
  
  .input-default {
    background: var(--platinum);
    border-radius: var(--radius);
    color: #000;
  }
  
  .payment-form input {
    padding: 10px 15px;
    font-size: var(--fs-18);
    font-weight: var(--fw-5);
  }
  
  .cardholder-name,
  .card-number { margin-bottom: 20px; }
  
  .card-number input,
  .cvv input { letter-spacing: 3px; }
  
  .input-flex {
    display:     flex;
    align-items: center;
    gap: 30px;
  }
  
  .input-flex .expire-date,
  .input-flex .cvv { width: 50%; }
  
  .expire-date .input-flex {
    color: var(--spanish-gray);
    gap: 13px;
  }
  
  .expire-date .input-flex input { text-align: center; }
  
  .btn { border-radius: var(--radius); }
  
  .btn:active { transform: scale(0.99); }
  
  .btn:focus {
    color: var(--white);
    background: var(--main-color);
    outline: 2px solid var(--main-color);
    outline-offset: 2px;
  }
  
  .btn-primary {
    background: var(--main-color);
    font-weight: var(--fw-5);
    color: var(--white);
    padding: 13px 45px;
  }
  
  .btn-primary b { margin-right: 10px; }
  

  
  .cart {
    width: 40%;
    display:         flex;
    flex-direction:  column;
    justify-content: flex-end;
    background-color: var(--second-color);
  }
  
  .cart-item-box {
    padding: 40px var(--px);
    margin-bottom: auto;
  }
  
  .product-card:not(:last-child) { margin-bottom: 20px; }
  
  .product-card .card {
    position: relative;
    display:     flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  .card .product-img { border-radius: var(--radius); }
  
  .card .detail .product-name {
    font-weight: var(--fw-6);
    font-size: var(--fs-15);
    color: var(--dim-gray);
    margin-bottom: 10px;
  }
  
  .card .detail .wrapper {
    display: flex;
    gap: 20px;
  }
  
  .product-qty {
    display:     flex;
    align-items: center;
    gap: 10px;
  }
  
  .product-qty button {
    background: var(--platinum);
    width:  20px;
    height: 20px;
    display:         flex;
    justify-content: center;
    align-items:     center;
  }
  
  .product-qty button:active,
  .product-close-btn:active ion-icon { transform: scale(0.95); }
  
  .product-qty button ion-icon {
    --ionicon-stroke-width: 60px;
    font-size: 10px;
  }
  
  .product-close-btn {
    position: absolute;
    top:   0;
    right: 0;
  }
  
  .product-close-btn ion-icon {
    font-size: 25px;
    color: var(--quick-silver);
  }
  
  .product-close-btn:hover ion-icon { color: var(--red-salsa); }
  
  .discount-token {
    padding: 40px var(--px);
    border-top:    1px solid var(--gainsboro);
    border-bottom: 1px solid var(--gainsboro);
  }
  
  .wrapper-flex {
    display:     flex;
    align-items: center;
    gap: 30px;
  }
  
  .wrapper-flex input {
    padding: 12px 15px;
    font-weight: var(--fw-6);
    letter-spacing: 2px;
  }
  
  .btn-outline {
    padding: 10px 25px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
  }
  
  .btn-outline:hover {
    background: var(--main-color);
    color: var(--white);
  }
  
  .amount { padding: 40px var(--px); }
  
  .amount > div {
    display:         flex;
    justify-content: space-between;
  }
  
  .amount > div:not(:last-child) { margin-bottom: 10px; }
  
  .amount .total {
    font-size: var(--fs-18);
    font-weight: var(--fw-7);
    color: var(--text-color);
  }
  
  @media (max-width: 1200px) {
  
    .item-flex { flex-direction: column-reverse; }
  
    .checkout {
      width: 100%;
      border-right: none;
    }
  
    .btn-primary { width: 100%; }
  
    .cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      border-bottom: 1px solid var(--gainsboro);
    }
  
    .cart .wrapper { margin-top: auto; }
  
    .cart .cart-item-box {
      border-right: 1px solid var(--gainsboro);
      margin-bottom: 0;
    }
  
    .discount-token { border-top: none; }
  
  }
  
  @media (max-width: 768px) {
  
    :root { --px: 40px; }
  
    .cart { grid-template-columns: 1fr; }
  
    .discount-token { border-top: 1px solid var(--gainsboro); }
  
    .wrapper-flex { gap: 20px; }
  
  }
  
  @media (max-width: 567px) {
  
    :root { --px: 20px; }
  
    .payment-method,
    .input-flex {
      flex-direction: column;
      gap: 20px;
    }
  
    .payment-method .method { width: 100%; }
  
    .input-flex .expire-date,
    .input-flex .cvv { width: 100%; }
  
    .expire-date .input-flex { flex-direction: row; }
  
  }

  .card-image {
    font-size: 2em;
    color: #333;
}

.visa::before {
    content: "\f1f0"; /* Font Awesome Visa ikonas kods */
}

.mastercard::before {
    content: "\f1f1"; /* Font Awesome Mastercard ikonas kods */
}

.americanexpress::before {
    content: "\f1f3"; /* Font Awesome American Express ikonas kods */
}

.card-number {
  position: relative;
}

.input-container {
  position: relative;
}

.card-image {
  position: absolute;
  top: 66%;
  transform: translateY(-50%);
  right: 10px; /* Pielāgojiet atbilstoši vajadzībām */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid var(--main-color);
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.order-confirmation {
  display: none;
  text-align: center;
}

.container-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--second-color);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1000000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark-success {
  font-size: 60px;
  color: rgb(255, 255, 255);
  z-index: 1000;
  margin-top: -20px;
  width: 50px;
  height: 50px;
  background-size: contain;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.particles span {
  position: absolute;
  margin-top: 50px;
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  animation: move 2s infinite;
}

h1 {
  margin: 0 0 10px;
  color: var(--text-color)
}

p {
  margin: 0 0 20px;
  color: #777;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.view-order {
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.continue-shopping {
  background-color: var(--main-color);
  color: #fff;
}

@keyframes move {
  0% {
      transform: translate(0, 0);
      opacity: 1;
  }
  100% {
      transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px));
      opacity: 0;
  };