.categories-container {
    text-align: center;
    padding: 120px 20px;
}

.animated-title {
    font-size: 2.5em;
    animation: slideInDown 1s ease-out;
    margin-bottom: 40px;
    color: var(--text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-card {
    background-color: var(--second-color);
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 180px; /* Mazâki râmji */
    height: 210px; /* Mazâki râmji */
}

.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.image-container {
    width: 100%;
    height: 70%; /* Samazinam attçlu augstumu */
    overflow: hidden;
    position: relative;
}

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category-card:hover .category-image {
    transform: scale(1.05);
}

.category-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    opacity: 1; /* Vienmçr redzams */
    transition: opacity 0.3s ease;
}

.category-info h2 {
    margin: 0;
    font-size: 1.2em; /* Mazâks fonta izmçrs */
}
