section{
    padding: 100px 8%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
  text-align: center;
  padding-top: 2rem;
}

.box {
  padding: 0px 20px 10px 20px;
  background:  var(--second-color);
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border-radius: 10px;
  transition: all .35s ease;
  cursor: pointer;
}

.box img {
  height: 150px;
  width: auto;
  clip-path: inset(5px 5px 5px 5px);
}

.box h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.box h5{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.box .cart i {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.box:hover {
  transform: translateY(-5px);
}
.star-wrapper a {
  font-size: 1.1em;
  color: #b4b3b3;
  transition: all 0.5s;
}
.s1.active, .s2.active, .s3.active, .s4.active, .s5.active {
  color: gold;
}

  .star-wrapper.active,
  .star-wrapper.active-half{
    color: gold;
  }


  .filter-bar {
    background-color: #f2f2f2;
    padding: 20px;
}

.filter-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: var(--second-color);
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: width 0.3s ease;
}

.filter-sidebar.closed {
  width: 50px;
}

.form-group.closed {
  display: none;
}

.filter-toggle {
  cursor: pointer;
}

.filter-toggle i {
  font-size: 24px;
}

.filter-sidebar form {
  margin-top: 100px;
}

#product-select{
  color: var(--text-color);
    background: var(--input-color);
}

.filter-sidebar .form-group {
  margin-bottom: 10px;
}

.form-group input{
  color: var(--text-color);
  background: var(--input-color);
  border: 1px solid var(--text-color)
}

.filter-sidebar label {
  display: block;
  font-weight: bold;
}

.filter-sidebar input[type="text"],
.filter-sidebar select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.filter-sidebar button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.filter-sidebar button:hover {
  background-color: #45a049;
}

.filter-sidebar .color-options {
  display: flex;
  flex-wrap: wrap;
}

.color-option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.color-option.active {
  border-color: #000;
  transition: border-color 0.3s ease;
  background-color:#42414146;
}


.pagination {
  display: flex;
  justify-content: center;
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 999;
}

.pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.pagination ul li {
  margin: 0 5px;
}

.pagination ul li a,
.pagination ul li span {
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: var(--text-color);
  text-decoration: none;
}

.pagination ul li.disabled span {
  color: #999;
  cursor: not-allowed;
}

.pagination ul li.active span {
  background-color: var(--main-color);
  color: #fff;
}

.success-message {
  position: fixed;
  top: 220px;
  right: 30px;
  background-color: #04ff00;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9999;
  transform: translateY(-50%);
  transition: right 1s ease;
}

.back-image {
  display: none;
}

.box:hover .back-image {
  display: inherit;
}

.box:hover .front-image {
  display: none;
}


@media (max-width: 1200px) {
  .container{
    gap: 2rem 1rem;
    justify-content: center;
    justify-items: center;
  }

}
