section{
    padding: 0 12%;
    margin-top: 70px;
    
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.hero-img{
    height: 500px;
    width: 500px;
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-in{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,auto)) ;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: -50px;

}

.hero-text h1{
    font-size: var(--big-font);
    line-height: 1.3;
    font-weight: 90;
}
.hero-text h4{
    margin: 5px 0 20px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    font-weight: 400;
}

.hero-text p{
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 26px;    
    margin-bottom: 4rem;
}

.box{
    background:  var(--second-color);
    padding: 25px 40px;
    border-radius: 1rem;
    box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
    transition: all ease .55s;
    cursor: pointer;
    height: 230px;
    width: 200px;
}

.box img{
    max-width: 100%;
    height: auto;
    align-items: center;
    width:  120px;
    height: auto;
}

.box h3{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 7px;
}

.box h5{
    color: var(--main-color);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 4px;
}

.box:hover{
    transform: translateY(-5px) scale(1.1);
}

/* .first{
    position: absolute;
    bottom: 3.5rem;
    right: 9%;
}

.second{
    position: relative;
    top: 30rem;
    left: 17%;
}

.third{
    position: relative;
    bottom: 1.5rem;
    left: 47%;
} */


/* .down-arrow i{
    padding: 14px;
    color: var(--bg-color);
    background-color: var(--text-color);
    font-size: 25px;
    border-radius: 3rem;
    cursor: pointer;
    transition: all ease .55s;
}

.down-arrow i:hover{
    background: var(--main-color);
    transform: translateY(5px);
} */

.down-arrow {
    position: absolute;

    right: 10px; /* Adjust the right position as needed */
    cursor: pointer;
    z-index: 999; /* Ensure it's above other elements */
    margin-top: 450px
    
    
}

/* Additional styling for the arrow icon if needed */
.down-arrow i {
    padding: 14px;
    color: var(--bg-color);
    background-color: var(--text-color);
    font-size: 25px;
    border-radius: 3rem;
    cursor: pointer;
    transition: all ease .55s;
}

.navlist a.Home{
    color: var(--main-color);
}

@media (max-width: 1600px){
    header{
        padding: 13px 3%;
    }
    section{
        padding: 0 5%;
    }
}

@media (max-width: 1470px){
    .hero-img{
        height: 800px;
        width: 800px;
    }
}
@media (max-width: 1400px){
    :root{
        --big-font: 4rem;
        --p-font: 15px;
    }
    .box h3{
        font-size: 20px;
        margin-bottom: 2px;
    }
    .hero-img{
        width: 600px;
        height: 600px;
    }
}

@media(max-width:1230px){
    .hero{
        grid-template-columns: 1fr;
        height: auto;
    }
    .hero-text{
        order: 2;
    }
    section{
        padding: 50px 5%;
    }
    .hero-img{
        margin: auto;
        height: auto;
        width: auto;
    }
    /* .hero-img img{
        width: 100%;
        height: auto;
        max-width: 500px;
        margin-right: 220px;
    } */
    .down-arrow{
        display: none;
    }
    .product-container{
        flex-direction: column;
    }
    .hero-text h4{
        text-align: center;
    }

    .hero-text p{
        text-align: center;
    }

    .hero-text h1{
        text-align: center;
    }
    .card-wrapper{
        width: 250px;
    }
    .top-products-header h1{
        font-size: 16px;
    }
}
@media(max-width:1070px){
    header{
        padding: 10px 3%;
        background: var(--second-color);
    }
    #menu-icon{
        display: initial;
    }
    .navlist{
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #000;
        transition: all ease .55s;
        text-align: left;
    }
    .navlist a{
        display: block;
        font-size: 23px;
        font-weight: 400;
        margin: 0.8rem 1.8rem;
        color: var(--second-color);
    }
    .navlist.open{
        top:100%;
    }
    .top-products-header{
        font-size: 40px
    }

    
}

@media(max-width:600px){
    .hero-in{
        grid-template-columns: repeat(auto-fit, minmax(190px, auto));
        gap: 18px;
    }
    .box{
        padding: 10px 30px;
    }
    .h-btn{
        padding: 6px 14px;
        margin-right: 8px;
    }
    :root{
        --big-font: 3rem;
        --p-font: 14px;
    }
    .logo{
        font-size: 32px;
    }
    #menu-icon{
        margin-right: 5px;
    }

    .hero-text h4{
        max-width: 450px;
    }

    .hero-text p{
        max-width: 450px;
    }

    .hero-text h1{
        font-size: 36px;
        width: 450px;
    }

    .box{
        width: 180px;
        height: 220px;
    }
    .top-products-header h1{
        font-size: 32px;
    }

}
.top-products-header {
    font-size: var(--big-font);
    line-height: 1.3;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    transition: all ease .55s;
}

.top-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    flex-direction: column;
}


.product {
    max-width: 300px;
    padding: 20px;
    background: var(--second-color) ;
    border-radius: 8px;
    display: grid;
    justify-items: center;
    margin: 20px;
    transition: all ease .55s;
}

.product:hover {
    transform: translateY(-5px) scale(1.1);
}
.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    margin-top: 10px;
    color: var(--text-color);
}

.product p {
    color: #777;
}


.product-container {
    display: flex;
    gap: 20px;
    padding: 10;
    transition: all ease .55s;
}

.star-wrapper {
    direction: rtl;
  }
.star-wrapper a {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
  }
.star-wrapper a:hover {
    color: gold;
    transform: scale(1.3);
  }
.s1.active{
    color: gold;
  }
.s2.active {
    color: gold;
  }
.s3.active {
    color: gold;
  }
.s4.active {
    color: gold;
  }
.s5.active {
    color: gold;
  }

  .star-wrapper.active{
    color: gold;
  }

.pricing{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.pricing-title {
    font-size: var(--big-font);
    line-height: 1.3;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    transition: all ease .55s;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: auto;
    background: var(--second-color);
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
    transition: all 0.1s ease-in;
}

.card-wrapper:hover{
    transform: scale(1.05);
}

.card-wrapper:hover .card-header h2{
    transform: scale(1.1);
    color: var(--main-color);
    letter-spacing: 2;

}

.card-header{
    margin: 1rem;
    text-align: center;

}

.card-header img{
    height: 150px;
    display: block;
    margin: 0 auto;
}

.card-detail{
    width:100%;
}

.card-detail p {
    padding: 0.6rem 1.5rem;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--text-color);
}

.check{
    color: var(--main-color);
}


.card-price p{
     font-size: 3rem;
     font-weight: 800;
}

.card-price p sup{
    font-size: 1rem;
}

.card-button{
    padding: 0.6rem 3rem;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: all 50ms ease-in;
}

.card-button:hover{
    border: 2px solid var(--main-color);
    background: transparent;
    color: var(--main-color);
    font-weight: 800;
}

.text{
    color: var(--text-color);
}

img {
    pointer-events: none;
}