* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
}


.login-form {
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: var(--bg-color);
    padding: 30px;
    justify-content: center;
    display: grid;
    align-items: center;
}

.register {
    position: relative;
    top: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.login-form h2 {
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.login-form .main {
    position: relative;
    display: flex;
    margin: 30px 0;
}

.content {
    flex-basis: 50%;
    padding: 3em 3em;
    background-color: var(--second-color);
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-img {
    flex-basis: 50%;
    background: var(--bg2-color);;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}


.form-img img {
    max-width: 100%;
    pointer-events: none;
}

p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 25px;
    opacity: 0.6;
    text-align: center;
}

.btn:hover,
button:hover {
    transition: 0.5s ease;
}

a {
    text-decoration: none;
}

.login-form form {
    margin: 30px 0;
}

.login-form input {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
    background: var(--second-color);
    margin-bottom: 20px;
    color: var(--text-color);
}

.login-form input::placeholder {
    color: var(--text-color) /* Pelēkā krāsa */
}


.login-form button {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background-color: var(--main-color);
    border: none;
    padding: 14px 15px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
}

.login-form button:hover {
    background-color: var(--main-color);;
    transform: scale(1.05);
}

.login-form button:active {
    background-color: var(--main-color);
    transform: scale(0.95);
}

p.account a {
    color: var(--main-color);
}

p.account a:hover {
    text-decoration: underline;
}

@media(max-width:736px) {
    .login-form .main {
        flex-direction: column;
        top: 50px;
    }

    .login-form form {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .form-img {
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }

    .content {
        order: 1;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.error-message {
    background-color: #f8e0e0;
    color: #b71c1c;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #b71c1c;
    transition: background-color 0.3s ease;
}

.error-message:hover {
    background-color: #fafafa;
}

.error-message p.error {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #000000;
}



.country-name{
    color: #000;
}

.selected-option{
    color: var(--other-color);
}

.formBox .inputBox input:focus ~ span,
.formBox .inputBox input:valid ~ span,
.formBox .inputBox textarea:focus ~ span, 
.formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size:  12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text-color);
    font-weight: 500;
} 

.formBox .inputBox span 
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.formBox .inputBox input
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--text-color);
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
    background: var(--second-color);
}

.formBox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formBox .inputBox
{
    position: relative;
    margin-bottom: 5px;
}

.formBox .inputBox.w50
{
    width: 100%;
}

span{
    color: var(--text-color);
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
    cursor: pointer;
}

.social-icon:hover{
    color: var(--main-color);
    border-color: var(--main-color);
}

.g-recaptcha{
    height: 100px;
    display: flex;
    justify-content: center;
}