.select-box {
    padding-bottom: 15px;
    z-index: 1000;
    width: 100%
}

.select-box input {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
    background: var(--second-color);
    margin-bottom: 20px;
    color: var(--text-color);
}



.selected-option {
    overflow: hidden;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;

}

.selected-option div{
    position: relative;
    text-align: center;
    cursor: pointer;
}

.selected-option div::after{
    position: absolute;
    content: "";
    right: .8rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 100%;
    height: .8rem;
    border-right: .12rem solid var(--primary);
    border-bottom: .12rem solid var(--primary);
    transition: .2s;
}

.selected-option div.active::after{
    transform: translateY(-50%) rotate(225deg);
    
}

.select-box .options {
    position: absolute;
    width: 90%;
    background-color: var(--second-color);
    border-radius: .5rem;
    display: none;
}

.select-box .options.active {
    display: block;
}

.select-box .options::before {
    position: absolute;
    content: "";
    left: 1rem;
    top: -1.2rem;
    width: 0;
    height: 0;
    border: .6rem solid transparent;
    border-bottom-color: var(--primary);
}

input.search-box {
    background-color: var(--primary);
    color: var(--text-color);
    border-radius: .5rem .5rem 0 0;
    padding: 1.4rem 1rem;
}

.select-box ol {
    position: relative;
    list-style: none;
    max-height: 23rem;
    overflow: overlay;
    z-index: 100000;
}

.select-box ol::-webkit-scrollbar {
    width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: var(--text-color);
    border-radius: .4rem;
}

.select-box ol li {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: 0.1rem solid #b3b3b3;
}

.select-box ol li:hover {
    background-color: var(--hover-color)
}

.select-box ol li .country-name {
    margin-left: .4rem;
}

.country-name{
    color: var(--text-color);
}

.nr-code{
    position: relative;
    color: var(--text-color);
    padding-right: 15px;
}