{% extends 'base.html' %}
{% load honeypot %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Sazinies ar mums' %}
{% endblock %}

{% block body %}
<div class='mt-32'>
    <div class='flex flex-col justify-center items-center min-h-[80vh]'>
        <div class='max-w-[500px] w-full'>
            {% if messages %}
                <div class='mb-4'>
                    {% for message in messages %}
                        {% include 'layout/partials/alert.html' with message=message message_tags=message.tags class='' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="flex justify-center items-center px-4 py-16">
            <div class="w-full max-w-6xl bg-second-color shadow-lg rounded-3xl overflow-hidden flex flex-col lg:flex-row">
                <div class="  bg-main-color text-white p-8 flex flex-col justify-between">
                    <div>
                        <h2 class="text-2xl font-semibold mb-6">{% trans 'Kontaktinformācija' %}</h2>
                        <ul class="space-y-4">
                            {% if Contact %}
                                {% if Contact.address %}
                                    <li class="flex items-center">
                                        {% include "include/svg_icon.html" with name="location" classes='w-6 h-6 mr-3'%}
                                        <span>{{ Contact.address }}<br>{{ Contact.postal_code }}</span>
                                    </li>
                                {% endif %}
                                {% if Contact.email %}
                                    <li class="flex items-center">
                                        {% include "include/svg_icon.html" with name="email" classes='w-6 h-6 mr-3'%}
                                        <a href="mailto:{{ Contact.email }}" class="underline">{{ Contact.email }}</a>
                                    </li>
                                {% endif %}
                                {% if Contact.phone_number %}
                                    <li class="flex items-center">
                                        {% include "include/svg_icon.html" with name="phone" classes='w-6 h-6 mr-3'%}
                                        <a href="tel:{{ Contact.phone_number }}">{{ Contact.phone_number }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="mt-8 flex space-x-4">
                        {% if Contact.facebook_link %}
                            <a href="{{ Contact.facebook_link }}" class="text-white hover:text-gray-300">
                                {% include "include/svg_icon.html" with name="facebook" classes='w-6 h-6 mr-3'%}
                            </a>
                        {% endif %}
                        {% if Contact.instagram_link %}
                            <a href="{{ Contact.instagram_link }}" class="text-white hover:text-gray-300">
                                {% include "include/svg_icon.html" with name="instagram" classes='w-6 h-6 mr-3' fill='currentColor'%}
                            </a>
                        {% endif %}
                        {% if Contact.twitter_link %}
                            <a href="{{ Contact.twitter_link }}" class="text-white hover:text-gray-300">
                                {% include "include/svg_icon.html" with name="twitter" classes='w-6 h-6 mr-3' fill='currentColor' %}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="w-full lg:w-2/3 p-8">
                    <h2 class="text-main-color text-2xl font-semibold mb-6">{% trans 'Nosūtīt ziņu' %}</h2>
                    <form method="post" action="{% url 'contact_us' %}">
                        {% csrf_token %}
                        {% render_honeypot_field "email2" %}
                        <div class="relative flex flex-wrap pt-8">
                            <div class="inputBox w-1/2 max-sm:w-full">
                                {{ form.first_name }}
                                <span class='label-text text-text-color'>{% trans 'Vārds' %}</span>
                            </div>
                            <div class="inputBox w-1/2 max-sm:w-full">
                                {{ form.last_name }}
                                <span class='label-text text-text-color'>{% trans 'Uzvārds' %}</span>
                            </div>
                            <div class="inputBox w-1/2 max-sm:w-full">
                                {{ form.email }}
                                <span class='label-text text-text-color'>{% trans 'E-pasts' %}</span>
                            </div>
                            <div class="inputBox w-1/2 max-sm:w-full">
                                {{ form.phone_number }}
                                <span class='label-text text-text-color'>{% trans 'Telefona numurs' %}</span>
                            </div>
                            <div class="inputBox w-full h-32">
                                {{ form.message }}
                                <span class='label-text text-text-color'>{% trans 'Raksti savu ziņu šeit...' %}</span>
                            </div>
                        <button type="submit" class="w-full bg-main-color text-white py-3 rounded-lg hover:bg-opacity-90 transition">{% trans 'Sūtīt' %}</button>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}
