{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Papildu informācija' %}
{% endblock %}


{% block body %}
    <div class='login-form register'>
        <div class='container'>
            <div class='main'>
                <div class='content'>
                    <h2>{% trans 'Papildu informācija' %}</h2>
                    <form method='post'>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="formBox">
                            <div class="inputBox w50 {% if form.username.errors %}error{% endif %}">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {% if form.username.errors %}
                                    <p class="error-message">{{ form.username.errors }}</p>
                                {% endif %}
                            </div>
                            <div class="inputBox w50 {% if form.phone_number.errors %}error{% endif %}">
                                {{ form.phone_number.label_tag }}
                                <div class="phone-number-container">
                                    <div class="country-code-selector">
                                        <select id="country-code" name="country_code">
                                            <option value="+371">Latvia (+371)</option>
                                            <option value="+372">Estonia (+372)</option>
                                            <option value="+370">Lithuania (+370)</option>
                                        </select>
                                    </div>
                                    <input type="tel" required id="phone-number-input" name="phone_number" style="{% if form.phone_number.errors %}border-color: #b71c1c;{% endif %}">
                                    <input type="hidden" id="phone-number-hidden" name="phone_number">
                                </div>
                                {% if form.phone_number.errors %}
                                    <p class="error-message">{{ form.phone_number.errors }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <button class='btn' type='submit'>
                            {% trans 'Saglabāt' %}
                        </button>
                    </form>
                    <p class='account'>{% trans 'Vai jums jau ir konts? ' %} <a href='{% url 'login' %}'>{% trans 'Pieslēgties' %}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
{% endblock %}
