{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}

{% block title %}
    {% trans 'Pieslēgties' %}
{% endblock %}

{% block body %}
<div class='mt-32'>
    <div class='flex flex-col justify-center items-center min-h-[80vh]'>
        <div class='max-w-[500px] w-full'>
            {% if messages %}
                <div class='mb-4'>
                    {% for message in messages %}
                        {% if 'login' in message.tags %}
                            {% include 'layout/partials/alert.html' with message=message message_tags=message.tags class='' %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class='flex justify-center items-center w-full'>
                <div class='flex flex-col rounded-xl overflow-hidden w-full px-4'>
                    <div class='p-6 bg-second-color rounded-xl'>
                        <h2 class='mb-5 text-3xl text-main-color text-center'>{% trans 'Pieslēgties' %}</h2>
                        <form action='' method='post'>
                            {% csrf_token %}
                            <div class="flex flex-col gap-4 pb-8">
                                <div class="inputBoxLogin w50">
                                    <span>{% trans 'Lietotājvārds' %}</span>
                                    {{ form.username }}
                                </div>
                                <div class="inputBoxLogin w50">
                                    <span>{% trans 'Parole' %}</span>
                                    {{ form.password }}
                                </div>
                                {% if form.captcha %}
                                    <div class="inputBoxLogin w50">
                                        {{ form.captcha }}
                                    </div>
                                {% endif %}
                            </div>
                            <button class='main-btn' type='submit'>
                                {% trans 'Pieslēgties' %}
                            </button>
                        </form>
                        <p class='text-center mt-5'>
                            {% trans 'Vai jums nav konta? ' %}
                            <a class='text-main-color hover:underline' href='{% url 'register' %}'>{% trans 'Reģistrēties' %}</a>
                        </p>
                        <p class='text-center mt-5'>
                            {% trans 'Aizmirsāt paroli?' %}
                            <a class='text-main-color hover:underline' href='{% url "password_reset" %}'>{% trans 'Atjaunot to šeit' %}</a>
                        </p>
                        <p class="text-center mt-5 text-text-color text-base">
                            {% trans 'Vai pieslēdzies caur sociālajiem tīkliem' %}
                        </p>
                        <div class="flex justify-center mt-3 gap-3">
                            <a href="{% provider_login_url 'facebook' %}" class="social-icon">
                                <svg width="25" height="25" style='color: var(--text-color);'>
                                    <use xlink:href="/static/svg/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                            <a href="{% provider_login_url 'google' %}" class="social-icon">
                                <svg width="25" height="25" style='fill: var(--text-color);'>
                                    <use xlink:href="/static/svg/sprite.svg#google"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
