{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<div class='mt-32'>
    <div class="w-3/5 max-md:w-11/12  mx-auto mt-3">
        <nav class="flex items-center justify-between bg-main-color py-4 px-8 text-white rounded-lg max-md:flex-col max-md:items-start">
            <div class="text-2xl font-bold">{% trans "Mans Profils" %}</div>
            <ul class="list-none flex max-md:flex-col">
                <li class="ml-6 ">
                    <a class="nav-link" href="{% url 'profile:personal_info' %}">
                        {% include "include/svg_icon.html" with name="user" classes='mr-2'%}
                        {% trans "Personīgā informācija" %}
                    </a>
                </li>
                <li class="ml-6">
                    <a class="nav-link" href="{% url 'profile:change_password' %}">
                        {% include "include/svg_icon.html" with name="key" classes='mr-2'%}
                        {% trans "Paroles maiņa" %}
                    </a>
                </li>
                <li class="ml-6">
                    <a class="nav-link" href="{% url 'profile:order_history' %}">
                        {% include "include/svg_icon.html" with name="order" classes='mr-2'%}
                        {% trans "Pasūtījumu vēsture" %}
                    </a>
                </li>
                <li class="ml-6">
                    <a class="nav-link" href="{% url 'profile:delete_account' %}">
                        {% include "include/svg_icon.html" with name="trash" classes='mr-2'%}
                        {% trans "Dzēst kontu" %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="my-8 mx-auto w-3/5 max-md:w-11/12 bg-second-color p-8 max-md:p-0 rounded-lg ">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
