{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Reģistrēties' %}
{% endblock %}

{% block body %}
<div class='mt-52'>
    <div class='flex justify-center items-center px-4 pb-4'>
        <div class='max-w-5xl w-full'>
            <div class='flex flex-row rounded-lg overflow-hidden w-full'>
                <div class='flex-1 p-8 bg-second-color'>
                    <h2 class='mb-5 text-4xl text-text-color text-center'>{% trans 'Reģistrēties' %}</h2>
                    <form method='post'>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="flex flex-wrap gap-5">
                            <div class="inputBoxRegister {% if form.first_name.errors %}error{% endif %}">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <p class="error-message">{{ form.first_name.errors }}</p>
                                {% endif %}
                            </div>
                            <div class="inputBoxRegister {% if form.last_name.errors %}error{% endif %}">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <p class="error-message">{{ form.last_name.errors }}</p>
                                {% endif %}
                            </div>
                            <div class="inputBoxRegister {% if form.email.errors %}error{% endif %}">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <p class="error-message">{{ form.email.errors }}</p>
                                {% endif %}
                            </div>
                            <div class="inputBoxRegister {% if form.username.errors %}error{% endif %}">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {% if form.username.errors %}
                                    <p class="error-message">{{ form.username.errors }}</p>
                                {% endif %}
                            </div>
                            <div class="inputBoxRegister">
                                {{ form.phone_number.label_tag }}
                                <div class="flex items-center">
                                    <div class="mr-3">
                                        <select class='p-3 text-text-color bg-input-color text-base border border-gray-300 rounded-lg' id="country-code" name="country_code">
                                            <option value="+371">{% trans 'Latvija' %} (+371)</option>
                                            <option value="+372">{% trans 'Igaunija' %} (+372)</option>
                                            <option value="+370">{% trans 'Lietuva' %} (+370)</option>
                                        </select>
                                    </div>
                                    <input type="tel" required id="phone-number-input" name="phone_number" style="{% if form.phone_number.errors %}border-color: #b71c1c;{% endif %}">
                                    <input type="hidden" id="phone-number-hidden" name="phone_number">
                                </div>
                                {% if form.phone_number.errors %}
                                    <p class="error-message">{{ form.phone_number.errors }}</p>
                                {% endif %}
                            </div>
                            <div class="inputBoxRegister {% if form.password1.errors %}error{% endif %}">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                                {% if form.password1.errors %}
                                    {{ form.password1.errors }}
                                {% endif %}
                            </div>
                            <div class="inputBoxRegister {% if form.password2.errors %}error{% endif %}">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                                {% if form.password2.errors %}
                                    {{ form.password2.errors }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="checkbox-container mt-2">
                            <input type="checkbox" id="terms" name="agree_to_terms" required>
                                <label for="terms">
                                    {% trans 'Ar šo es apliecinu, ka esmu iepazinies(-usies) ar' %}
                                    <a class='text-main-color hover:underline' href="{% static 'pdf/terms_of_service.pdf' %}" target="_blank" class="terms-link">
                                        {% trans 'EricPrint lietošanas noteikumiem' %}
                                    </a>
                                </label>
                        </div>
                        <button class='main-btn' type='submit'>
                            {% trans 'Reģistrēties' %}
                        </button>
                    </form>
                    <p class='text-center mt-5'>{% trans 'Vai jums jau ir konts? ' %} <a class='text-main-color hover:underline' href='{% url 'login' %}'>{% trans 'Pieslēgties' %}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/User/phone.js' %}"></script>
{% endblock %}
