{% load static %}
{% load static i18n %}

<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    {% block css %}
      {% endblock %}
</head>

<body>

    <header class='header'>
        <a href='{% url 'homepage' %}' class='Logo'>Logo</a>

        <nav class='navbar'>
            <form id="languageForm" action="{% url 'set_language' %}" method="post" formtarget="_self" class="pseudo-form">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <input name="language" id="languageInput" type="hidden" value="">
            </form>

            <a href='#'>{% trans 'veikals' %}</a>
            <a href='#'>{% trans 'Radošais stūrītis' %}</a>
            <a href='#'>{% trans 'Sazinies ar mums' %}</a>
            <a href='{% url 'login' %}' class='Signup'>{% trans 'Pierakstīties' %}</a>

            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <a href="#" onclick="submitLanguage('{{ language.code }}')">
                    {{ language.code }}
                </a>
            {% endfor %}
        </nav>
        <div class="ri-menu-line" id='menu-icon'></div>

        <div class='dropdown_menu'>
            <li><a href='#'>{% trans 'veikals' %}</a></li>
            <li><a href='#'>{% trans 'Radošais stūrītis' %}</a></li>
            <li><a href='#'>{% trans 'Sazinies ar mums' %}</a></li>
            <li><a href='{% url 'login' %}' class='Signup'>{% trans 'Pierakstīties' %}</a></li>

        </div>
    </header>

    {% block body %}{% endblock %}
</body>

<script src="{% static 'js/base.js' %}"></script>
{% block js %}{% endblock %}
</html>